﻿.dnnModuleManager {
    position: relative;
    border: 1px dashed #d7d7d7;
    padding: 10px !important;
    min-height: 115px !important;
}
.dnnModuleManager.dnnSortable {
    min-height: 115px !important;
}

.dnnModuleManager .LabelEditTextClass {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dnnModuleManager .addModuleHandler {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 34px;
    height: 43px;
}
.dnnModuleManager .addModuleHandler span {
    display: inline-block;
    width: 34px;
    height: 43px;
    background: url('../Images/Icon-AddModule-D.png') no-repeat center 4px;
}
.dnnModuleManager .addModuleHandler:hover, .dnnModuleManager .addModuleHandler.active {
    background: url('../Images/Icon-AddModule-D-Back.png') no-repeat;
}
.dnnModuleManager .addModuleHandler.active {
    z-index: 1115;
}
.dnnModuleManager .addModuleHandler.active span {
    /*display: inline-block;*/
}
.dnnModuleDialog {
    width: 610px;
    overflow-x: hidden;
    position: absolute;
    font-family: proxima_nova_semibold, arial;
    z-index: 1115 !important;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.dnnModuleDialog * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.dnnModuleDialog .dnnPageContainer {
    width: 6000px;
    height: 409px;
    position: relative;
}

.dnnModuleDialog .dnnPageContainer .dnnPage {
    width: 610px;
    float: left;
}

.dnnModuleDialog .dnnDialogTitle {
    height: 68px;
    line-height: 68px;
    background-color: #092836;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius: 5px;

    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius: 5px;

    border-bottom: 1px solid #475e68;
}
.dnnModuleDialog .dnnDialogTitle span.title {
    color: #fff;
    font-size: 24px;
    margin-left: 32px;
}
.dnnModuleDialog .dnnDialogTitle span.btn-close {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../Images/Icon-Close-Dialog.png) no-repeat;
    float: right;
    margin: 28px 36px 0 0;
    cursor: pointer;
}

.dnnModuleDialog .dnnDialogBody {
    height: 320px;
    background-color: #fff;
    padding-top: 20px;


    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius: 5px;

    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius: 5px;
}

.dnnModuleDialog .dnnDialogBody .listContainer {
    height: 300px;
    width: 600px;
    outline: none;
}
.dnnModuleDialog .dnnDialogBody .listContainer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li {
    float: left;
    width: 270px;
    margin: 0 0 10px 20px;
    height: 60px;
    background-color: #f4f4f4;
    cursor: pointer;
    font-size: 12px;
    list-style: none;
    position: relative;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=0);
    opacity: 0;
    content: ".";
    transition: opacity 0.2s linear;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon {
    margin: 14px 20px 0 0;
    width: 32px;
    height: 32px;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon img {
    vertical-align: top;
    width: 32px;
    height: 32px;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.title {
    color: #3d3d3d;
    line-height: 60px;
    position: absolute;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.actions {
    margin:10px;
    display: none;
    float: right;
    position: relative;
    width: auto;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.actions .button {
    display: inline-block;
    width: 36px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    vertical-align: middle;
    margin-left: 4px;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.actions .button.addModule {
    background: url(../images/icon-add-module.png) no-repeat;
    padding: 0;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li:hover {
    box-shadow: inset 0 1px 0 #ececec, inset -1px 0 0 #ececec, inset 0px -2px 0 #e6e6e6, inset 1px 0 0 #ececec;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li:hover:before {
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li:hover span.actions {
    display: inline-block;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li:hover span.actions .button {
    border: none;
}

.dnnModuleDialog .dnnProgressBar {
	position: absolute;
	top: 68px;
	width: 100%;
	height: 5px;
	overflow: hidden;
	background-color: #e2e2e2;
	display: none;
}
.dnnModuleDialog .dnnProgressBar span {
	display: block;
	background-color: #00a4e5;
	width: 0;
	height: 100%;
	overflow: hidden;
}
/*Bookmark Styles*/
.dnnModuleDialog .dnnModuleList .listContainer ul li span.bookmarkholder .button
{
    display: inline-block !important;
    width: 36px !important;
    height: 36px !important;
    vertical-align: top !important;
    margin: 0px 0px;
    background: none !important;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.bookmarkholder {
    /*margin:-4px 0 0 0;*/
    display: inline-block;
    position: relative;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.bookmarkholder .button.bookmarkedModule {
    background: url(../images/icon-bookmarked-module.png) no-repeat !important;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.bookmarkholder .button.topModule, .dnnModuleItem.dnnLayoutItem {
    background: url(../images/icon-bookmarked-module2.png) no-repeat !important;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.actions .button.bookmarkModule {
    background: #fff url(../images/icon-bookmark-module.png) no-repeat !important;
    padding: 0;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.actions .button.bookmarkedModule,
.dnnModuleDialog .dnnModuleList .listContainer ul li span.actions .button.topModule {
    display: none;
}
/* Custom module icon */
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.account-login {
    background: url(../images/icon-module-account-login.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.account-login img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.advancedsettings {
    background: url(../images/icon-module-advanced-settings.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.advancedsettings img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.google-analytics,
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.google-analytics-professional {
    background: url(../images/icon-module-analytics.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.google-analytics img,
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.google-analytics-professional img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.blog {
    background: url(../images/icon-module-blog.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.blog img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.commerce {
    background: url(../images/icon-module-commerce.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.commerce img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.console {
    background: url(../images/icon-module-console.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.console img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.contentlist {
    background: url(../images/icon-module-content-list.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.contentlist img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.digital-asset-management {
    background: url(../images/icon-module-dam.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.digital-asset-management img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.ddr-menu {
    background: url(../images/icon-module-ddr-menu.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.ddr-menu img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.document-viewer {
    background: url(../images/icon-module-document-viewer.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.document-viewer img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.html,
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.html-pro {
    background: url(../images/icon-module-html.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.html img,
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.html-pro img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.journal {
    background: url(../images/icon-module-journal.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.journal img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.member-directory {
    background: url(../images/icon-module-member-directory.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.member-directory img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.message-center {
    background: url(../images/icon-module-message-center.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.message-center img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.account-registration {
    background: url(../images/icon-module-registration.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.account-registration img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.search-results {
    background: url(../images/icon-module-search.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.search-results img {
    display: none;
}

.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.social-groups {
    background: url(../images/icon-module-social-groups.png) no-repeat;
}
.dnnModuleDialog .dnnModuleList .listContainer ul li span.icon.social-groups img {
    display: none;
}

/* scroll bar style*/
.dnnModuleDialog .dnnModuleList .listContainer .jspVerticalBar {
    background: none;
}
.dnnModuleDialog .dnnModuleList .listContainer .jspVerticalBar .jspTrack {
    width: 7px;
}
.dnnModuleDialog .dnnModuleList .listContainer .jspVerticalBar .jspTrack .jspDrag {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.dnnDialogMask {
    background-color: #000;
    filter: alpha(opacity=70);
    opacity: 0.7;
    position: absolute;
    z-index: 1110 !important;
}
/**Add Module Search**/
.dnnModuleDialog .search-container {
    position: absolute;
    margin-left: 30px;
    margin-top: 18px;
    display: inline;
}

.dnnModuleDialog .search-container .search-input-container {
    background: #ffffff;
    border: 1px solid #222;
    border-radius: 5px;
    height: 32px;
    width: 150px;
    padding: 0 33px 1px 33px;
    margin-left: 100px;
    position: relative;
    top: -1px;
}

.dnnModuleDialog .search-container input.search-input {
    background: transparent;
    color: #999;
    padding: 8px 1px 7px 1px;
    width: 100%;
    max-width: none;
    display: block;
    border: none;
    margin: 0;
    box-shadow: none !important;
    outline: none;
    line-height: normal;
}

.dnnModuleDialog .search-container input.search-input::-ms-clear {
    display: none;
}

.dnnModuleDialog .search-container .clear-button,
.dnnModuleDialog .search-container .search-button {
    display: block;
    position: absolute;
    width: 22px;
    height: 18px;
    margin-left: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.dnnModuleDialog .search-container .search-button {
    left: 8px;
    top: 8px;
    background-image: url("../Images/icon-module-search.png");
    background-color: transparent;
}

.dnnModuleDialog .search-container .clear-button {
    right: 8px;
    top: 8px;
    background-image: url("../Images/AddModule_cleartext.png");
    background-color: transparent;
}

div.dnnModuleDialog_ModuleListMessage {
    width: 100%;
    overflow: hidden;
    margin: 10px auto 10px auto;
    height: 170px;
    text-align: center;
}
div.dnnModuleDialog_ModuleListMessage > span {
        width: 100%;
        text-align: center;
        font-style: italic;
        font-size: 14px;
        color: #aaa;
        margin-top: 105px;
        letter-spacing: 0.015em;
        text-shadow: none;
}
div.DnnModule.highlight {
    background-color: rgba(255, 250, 205, 255);
}
div.DnnModule.highlight.animate {
    background-color: rgba(255, 250, 205, 0);
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
}
.dnnModuleManager .DnnModule.floating {
    position: fixed;
    width: 285px !important;
    height: 71px !important;
    z-index: 1000 !important;
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
.dnnModuleManager .DnnModule.floating * {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
.dnnModuleManager .DnnModule.floating.drift {
    -webkit-animation: driftModule 4s linear infinite;
    -moz-animation:    driftModule 4s linear infinite;
    -o-animation:      driftModule 4s linear infinite;
    animation:         driftModule 4s linear infinite;
}
.dnnModuleManager .DnnModule.forDrag {
    position: absolute;
    -webkit-animation: none !important;
    -moz-animation:    none !important;
    -o-animation:      none !important;
    animation:         none !important;
}
@-webkit-keyframes driftModule {
    0% { transform: translate(0, 0); }
    12.5% { transform: translate(5px, 5px); }
    25% { transform: translate(10px, 0px); }
    37.5% { transform: translate(5px, -5px); }
    50% { transform: translate(0px, 0px); }
    62.5% { transform: translate(-5px, 5px); }
    75% { transform: translate(-10px, 0px); }
    87.5% { transform: translate(-5px, -5px); }
    100% { transform: translate(0, 0); }
}
@-moz-keyframes driftModule {
    0% { transform: translate(0, 0); }
    12.5% { transform: translate(5px, 5px); }
    25% { transform: translate(10px, 0px); }
    37.5% { transform: translate(5px, -5px); }
    50% { transform: translate(0px, 0px); }
    62.5% { transform: translate(-5px, 5px); }
    75% { transform: translate(-10px, 0px); }
    87.5% { transform: translate(-5px, -5px); }
    100% { transform: translate(0, 0); }
}
@-o-keyframes driftModule {
    0% { transform: translate(0, 0); }
    12.5% { transform: translate(5px, 5px); }
    25% { transform: translate(10px, 0px); }
    37.5% { transform: translate(5px, -5px); }
    50% { transform: translate(0px, 0px); }
    62.5% { transform: translate(-5px, 5px); }
    75% { transform: translate(-10px, 0px); }
    87.5% { transform: translate(-5px, -5px); }
    100% { transform: translate(0, 0); }
}
@keyframes driftModule {
    0% { transform: translate(0, 0); }
    12.5% { transform: translate(5px, 5px); }
    25% { transform: translate(10px, 0px); }
    37.5% { transform: translate(5px, -5px); }
    50% { transform: translate(0px, 0px); }
    62.5% { transform: translate(-5px, 5px); }
    75% { transform: translate(-10px, 0px); }
    87.5% { transform: translate(-5px, -5px); }
    100% { transform: translate(0, 0); }
}
.dnnModuleManager .DnnModule.floating > div.dnnDragHint + a + * {
    display: none;
}
.dnnModuleManager .DnnModule.floating > div.dnnDragHint {
    padding: 8px;
    background-color: #7f7f7f;
    background-color: rgba(127, 127, 127, 0.7);
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
    height: 100% !important;
    outline: none;
	-webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

div.dnnDragHint.dnnDragDisabled {
    cursor: default;
}
.dnnModuleManager .DnnModule.floating > div.dnnDragHint > div {
    height: 100%;
    background-color: #fff;
    border: 1px solid #a3a3a3;
    border-bottom: 2px solid #6e6f70;
    display: block;
}
.dnnModuleManager .DnnModule.floating > div.dnnDragHint > div {
}
.dnnModuleManager .DnnModule.floating > div.dnnDragHint > div span.icon {
    margin: 9px 0 0 18px;
}
.dnnModuleManager .DnnModule.floating > div.dnnDragHint > div span.icon img {
    width: 32px;
    height: 32px;
}
.dnnModuleManager .DnnModule.floating > div.dnnDragHint > div span.title {
    margin: 9px 0 0 18px;
    line-height: 50px;
}
.dnnModuleManager .DnnModule.floating > div.dnnDragHint > div a.cancel-module {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../Images/Icon-Close-Dialog.png) no-repeat center center;
    float: right;
    margin: 7px 7px 0 0;
    cursor: pointer;
}
.dnnModuleManager .DnnModule div.dnnDragHint > div {
    display: none;
}
.actionMenu .dnn_mact {
    margin-left: -15px !important;
}
.actionMenu .dnn_mact > li {
    margin-right: 5px !important;
}
.actionMenu.floating {
    display: none;
}
div.module-motion {
    border: 1px dashed #7f7f7f;
    position: absolute;
    z-index: 1110;
}
.EvoqEmptyPane { display: block !important;}
.module-drag-tip {
    position: fixed;
    background-color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 92px;
    padding: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}
.module-drag-tip p {
    margin: 0;
    line-height: 20px;
}
.module-drag-tip:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 10px 0 10px;
    border-color: #000000 transparent transparent transparent;
    content: ".";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-10px, 12px);
}

.dnnDialogBody.dnnModuleList li.dnnModuleItem span.longTitle {
    top: 6px;
    line-height: 16px !important;
    width: 180px;
    white-space: normal;
    height: 48px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}
