﻿.info-panel > ul {
    list-style-type: none;
    margin: 20px 0 0 15px;
    color: #666;
}

    .info-panel > ul > li:last-child {
        padding-right: 0;
    }

.detail-main-container .answer-content {
    padding: 20px;
    margin: 0 0 0 62px;
    border-left: 1px solid #dfdfdf;
}

    .detail-main-container .answer-content > .answer-comments-panel {
        margin: 15px 0 0 0;
    }

.answer-detail-pager-bottom {
    float: right;
    padding: 10px 20px;
}

    .answer-detail-pager-bottom > .dnnLeft {
        margin-right: 30px;
    }

.detail-main-container.answer-topanswer {
    padding-top: 5px;
    padding-bottom: 10px;
}

.answer-vote {
    width: 46px;
    height: 80px;
    margin-top: 10px;
}

    .answer-vote > a.answer-vote-upbtn {
        background-image: url('images/up.png');
        background-position: center center;
        margin-bottom: 2px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .answer-vote > a.answer-vote-downbtn {
        background-image: url('images/down.png');
        background-position: center center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-top: 2px;
    }

    .answer-vote > span.answer-vote-numberOfVote {
        display: block;
        width: 46px;
        height: 30px;
        text-align: center;
        padding-top: 13px;
        font-size: 18px;
        line-height: 1em;
        font-weight: bold;
        background-color: #eee;
        cursor: pointer;
    }

        .answer-vote > span.answer-vote-numberOfVote.activeIndicator {
            background-color: #4387d2;
        }

.answer-add-panel {
    display: block;
    margin: 0 100px 0 62px;
}

  .answer-add-panel .redactor-box {
        display: inline-block;
        min-height: 300px;
    }

/* answer list view
----------------------------------*/
table.list-tbl tbody td {
    padding: 20px 15px 20px 10px;
}

/* custom */
.answer-row td p.answer-content-summary {
    margin: 15px 0 10px 0;
    padding: 0;
    color: rgb(132, 132, 132);
}

    .answer-row td p.answer-content-summary img {
        max-width: 100% !important;
    }

div.answer-answer-score {
    margin: 0 auto 10px auto;
    width: 60px;
    background: #eee6e5;
    padding: 8px 0 8px 0;
}

div.answer-answer-count {
    margin: 0;
}

    div.answer-answer-count.answer-accepted {
        background-image: url(images/accepted.png);
        background-repeat: no-repeat;
        background-position: top right;
    }

span.no-answer {
    margin: 0 auto 0 auto;
    width: 60px;
    display: block;
    background-color: #4387d2;
    color: #fff;
    font-weight: bold;
    vertical-align: top;
    cursor: pointer;
    border-radius: 3px;
}

    span.no-answer > span,
    span.no-answer > img {
        display: inline-block;
        vertical-align: top;
    }

    span.no-answer > span {
        margin: 5px 5px 0 15px;
    }

span.answer-score,
span.answer-count {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

    span.answer-score + span,
    span.answer-count + span {
        display: block;
        text-align: center;
        color: #999;
    }

.comment-template-container {
    padding: 0 0 0 62px;
}

.answer-question-comment-container {
    margin-top: 20px;
}

.answer-comment .comment-template-container {
    margin: 10px 0 15px 0;
}

/* vote btn tooltip */
.answer-vote .qaTooltip .tag-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    white-space: nowrap;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    background: rgba(0,0,0,0.75);
    font-size: 11px;
    color: #ddd;
    text-align: left;
    top: -40px;
    left: -20px;
}

.answer-vote .qaTooltip .tag-menu:after {
    left: 35px;
    bottom: -7px;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    opacity: 0.75;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000;
}

.answer-vote .qaTooltip .tag-menu > p {
    margin-bottom: 0;
    display: block;
}

#answer-voters-dialog .name-td b {
    font-size: 15px;
    color: #339795;
    display: inline-block;
    margin-left: 8px;
}

/*Notifications dialog*/
.noTittle .ui-dialog-titlebar,
.noTittle .ui-dialog-titlebar-close {
    display:none}

.dnnDialogBlue.ui-dialog-content.ui-widget-content {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    position: absolute;
    padding: 15px;
    background-color: #002e47;
    opacity: 0.9;
    z-index: 99999;
    border-radius: 3px;
    color: #fff;
    display: none;
}

.blueIcon {
    background-image: url('/DesktopModules/DNNCorp/EvoqContentLibrary/SharedAssets/Images/notify.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 7px 0 0 40px;
    min-height: 31px;
}

.dnnDialogBlue.warningDialog .blueIcon {
    background-image: url('/DesktopModules/DNNCorp/EvoqContentLibrary/SharedAssets/Images/warning.png');
} 

.blueIcon p {
    color: #fff;
}