﻿.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 900px;
    height: 400px;
}

.watermark {
    position: absolute;
    top: 80px;
    opacity: 0.25;
    font-size: 2em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

input.submitted.ng-invalid {
    border: 1px solid #f00;
}

textarea.submitted.ng-invalid {
    border: 1px solid #f00;
}

select.submitted.ng-invalid {
    border: 1px solid #f00;
}

ui-select.submitted.ng-invalid {
    border: 1px solid #f00;
}

div.submitted.ng-invalid {
    border: 1px solid #f00;
}

button.submitted.ng-invalid {
    border: 1px solid #f00;
}


.activo {
    color: green;
}

.inactivo {
    color: red;
}

.mostrar {
    display: inline;
}

.ocultar {
    display: none;
}

.loading {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 40px 5px;
    width: 80px;
}
