﻿<div id='{0}' style="padding-bottom: 10px" class="contentPersonalizationDeviceTypeRule">
    <span data-bind='text: resx.RulesDeviceTypeName' class='caption'></span>
    <input class='left-checkbox' type='checkbox' data-bind='checked:mobileSelected, hasFocus:true' /><span data-bind="text: resx.RulesDeviceTypeMobileLabel" class='label'></span>
    <input class='left-checkbox' type='checkbox' data-bind='checked:tabletSelected' /><span data-bind="text: resx.RulesDeviceTypeTabletLabel" class='label'></span>
    <input class='left-checkbox' type='checkbox' data-bind='checked:pcSelected' /><span data-bind="text: resx.RulesDeviceTypeDesktopLabel" class='label'></span>
    <span class='rulesValidationMessage' data-bind='validationMessage: anyDeviceTypeSelected'></span>
    <div data-bind='text: resx.RulesRemoveRule, click: remove' class='deleteRule'></div>
</div>