#leaderboardSettings .roleList {
    display: inline-block;
    width: 435px;
}

.leader-contents {
    width: auto;
}

.leaderboard div.tableContainer {
    clear: both;
    overflow: visible;
}

.leaderboardSearch {
    background-color: #eee;
    padding: 15px 20px 15px 20px;
}

    .leaderboardSearch > .dnnLeft {
        margin-right: 10px;
    }

input[type="text"].leaderboardSearchInput {
    width: 200px;
    padding: 9px 8px 8px 8px;
    margin: 0;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: none;
}

    .leaderboardSearchInput.loading {
        background: url('Images/horizontal-loading.gif') center center no-repeat;
    }

.leaderboardSearch a.dnnSecondaryAction {
    margin: 0;
    padding: 9px 4px 9px 4px;
}

.leaderboardSearch ul.dnnButtonGroup > li > a {
    padding: 7px 12px 7px 12px;
}

.leaderboardSearch ul.dnnButtonGroup > li.selected > a {
    background: linear-gradient(to bottom, #DCDCDC, #FFFFFF );
}

.leaderboardMode {
    margin-right: 10px;
}

    .leaderboardMode > a {
        margin: 0;
    }

.leaderboard {
    padding: 20px 0 10px 0;
}

.leaderboardSearch + .leaderboard {
    padding: 0;
}

/* default dnnLeaderboard style No.1 */
.leaderboard div.tableContainer table.dnnLeaderboard {
    width: 100%;
    border-top: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-collapse: collapse;
}

.leaderboard table.dnnLeaderboard thead th {
    padding: 9px;
}

.leader-contents table.dnnLeaderboard td,
.leader-contents table.dnnLeaderboard th {
    padding: 8px;
    border-bottom: 1px solid #d1d1d1;
}

.leader-contents table.dnnLeaderboard th {
    padding: 0;
    border-left: 1px solid #d1d1d1;
    -webkit-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.9);
    box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.9);
}

    .leader-contents table.dnnLeaderboard th > span,
    .leader-contents table.dnnLeaderboard th > a {
        display: block;
        padding: 5px 9px;
    }

.leader-contents table.dnnLeaderboard label {
    display: inline;
    padding-left: 5px;
}

.leader-contents table.dnnLeaderboard caption {
    display: none;
}

.leader-contents table.dnnLeaderboard th {
    background: linear-gradient(to bottom, #fff, #eee);
    text-align: left;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
    color: #555;
}

.leader-contents table.dnnLeaderboard th {
    font-weight: bold;
    color: #555;
    text-decoration: none;
    padding: 8px 9px;
}

    .leader-contents table.dnnLeaderboard th a:hover {
        background: linear-gradient(to bottom, #fefefe, #e8e8e8);
        color: #555;
    }

    .leader-contents table.dnnLeaderboard th a:active {
        border-color: #999;
        background: linear-gradient(to bottom, #c6c6c6, #f3f3f3);
        -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    }

/* IE8 compatibility fix */
.leader-contents table.dnnLeaderboard tr td,
.leader-contents table.dnnLeaderboard thead th {
    width: 30%;
}
    .leader-contents table.dnnLeaderboard tr td.points-cell,
    .leader-contents table.dnnLeaderboard thead th.points-cell {
        width: 20%;
    }

    .leader-contents table.dnnLeaderboard tr td.badge-cell,
    .leader-contents table.dnnLeaderboard thead th.badge-cell {
        width: 12%;
    }

         .leader-contents table.dnnLeaderboard tr td.badge-cell div.leaderboard-badge-tooltip {
             margin-top: 4px;
             margin-left: 12px;
         }

         .leader-contents table.dnnLeaderboard tr td.badge-cell img {
             width: 35px;
             height: 35px;
         }

    .leader-contents table.dnnLeaderboard tr td:first-child,
    .leader-contents table.dnnLeaderboard thead th:first-child {
        width: 12%;
        text-align: center;
    }

    .leader-contents table.dnnLeaderboard tr td:first-child {
        font-size: 14px;
        font-weight: bold;
        vertical-align: middle;
        text-align: center;
    }

.leader-contents table.dnnLeaderboard tr:hover td {
    background: rgba(2,139,255,0.15); /* blue */
}

.leader-contents table.dnnLeaderboard tfoot tr:hover td {
    background: none;
}

.leader-contents table.dnnLeaderboard tr.dnnLeaderHighlighted td {
    background-color: #dfdfdf;
    background-color: rgba(0, 0, 0, 0.04);
}

    .leader-contents table.dnnLeaderboard tr.dnnLeaderHighlighted td:first-child {
        position: relative; /* necessary */
        text-align: left; /* necessary*/
        background: none; /* remove background */
        padding: 0;
    }

/* Mozila Firefox fix -- Please don't change it */
@-moz-document url-prefix() {
    .leader-contents table.dnnLeaderboard tr.dnnLeaderHighlighted td:first-child {
        display: block;
        width: 100%;
    }
}

.leader-contents table.dnnLeaderboard tr.dnnLeaderHighlighted td:first-child > div {
    margin: 0 0 0 10px;
    padding: 18px 10px 21px 0;
    height: 100%; /* necessary */
    width: calc(100% - 20px); /* necessary */
    background: #dfdfdf; /* reapplies bg to child */
    background: rgba(0, 0, 0, 0.04); /* reapplies bg to child */
    text-align: center;
}

.leader-contents table.dnnLeaderboard tr.dnnLeaderHighlighted td:first-child:before,
.leader-contents table.dnnLeaderboard tr.dnnLeaderHighlighted td:first-child:after {
    content: '';
    position: absolute;
    border-right: 10px solid rgba(0, 0, 0, 0.04);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.leader-contents table.dnnLeaderboard tr.dnnLeaderHighlighted td:first-child:before {
    top: 0;
    height: 50%;
    border-bottom: 10px solid transparent;
}

.leader-contents table.dnnLeaderboard tr.dnnLeaderHighlighted td:first-child:after {
    bottom: 0;
    height: 50%;
    border-top: 10px solid transparent;
}

.leader-contents table.dnnLeaderboard div.dnnLeaderboard-avator {
    margin: 0 8px 0 0;
    width: 35px;
    height: 35px;
    border: 2px solid #ddd;
    background-color: #ddd;
    float: left;
}

    .leader-contents table.dnnLeaderboard div.dnnLeaderboard-avator span {
        display: inline-block;
        border: transparent;
        text-decoration: none;
        height: 35px;
        width: 35px;
        overflow: hidden;
    }

    .leader-contents table.dnnLeaderboard div.dnnLeaderboard-avator em {
        display: table-cell; /* vertical centering hack */
        width: 35px;
        height: 35px; /* same as thumbnail dimensions */
        vertical-align: middle; /* vertical centering hack */
    }

    .leader-contents table.dnnLeaderboard div.dnnLeaderboard-avator img {
        display: inline-block;
        border: none;
        width: 100%;
    }

    .leader-contents table.dnnLeaderboard div.dnnLeaderboard-avator + a {
        font-weight: bold;
        color: #41AFA7;
        display: block;
        float: left;
        margin-top: 12px;
        height: 1.3em;
        overflow: hidden;
        max-width: 65%;
    }

.leader-contents table.dnnLeaderboard span.dnnLeaderboard-points {
    display: inline-block;
    margin: 10px 0 0 15px;
    font-weight: bold;
    font-size: 14px;
}

.leader-contents table.dnnLeaderboard span.dnnLeaderboard-relativeCreatedOnDate {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
}

.leader-contents table.dnnLeaderboard span.dnnLeaderboard-createdOnDate {
    display: block;
    color: #aaa;
    margin-left: 10px;
}

/* default dnnLeaderboard style No.2 */
.leaderboard div.tableContainer table.dnnLeaderboard2 {
    width: 100%;
    display: block;
    float: none;
    margin-top: -10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.leader-contents table.dnnLeaderboard2 tr {
    border-top: 1px solid #d1d1d1;
    width: 100%;
}

.leader-contents table.dnnLeaderboard2 .dnnLeaderboard-avator {
    border: 2px solid #ddd;
    background-color: #ddd;
    width: 35px;
    height: 35px;
}

    .leader-contents table.dnnLeaderboard2 .dnnLeaderboard-avator span {
        display: inline-block;
        border: transparent;
        text-decoration: none;
        height: 35px;
        width: 35px;
        overflow: hidden;
    }

    .leader-contents table.dnnLeaderboard2 .dnnLeaderboard-avator em {
        display: table-cell; /* vertical centering hack */
        width: 35px;
        height: 35px; /* same as thumbnail dimensions */
        vertical-align: middle; /* vertical centering hack */
    }

    .leader-contents table.dnnLeaderboard2 .dnnLeaderboard-avator img {
        display: inline-block;
        border: none;
        width: 100%;
    }

.leader-contents table.dnnLeaderboard2 tr:first-child {
    border-top: none;
}

.leader-contents table.dnnLeaderboard2 tr td:first-child {
    width: 10%;
    padding: 8px 8px 8px 0;
}

    .leader-contents table.dnnLeaderboard2 tr td:first-child + td {
        width: 90%;
        vertical-align: middle;
    }

.leader-contents table.dnnLeaderboard2 tr td a.dnnSocialLink {
    font-size: 14px;
    white-space: nowrap;
}

table.dnnLeaderboard2 a {
    padding-left: 5px;
}

/* default dnnLeaderboard style No.3 */
.leaderboard div.tableContainer table.dnnLeaderboard3 {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

table.dnnLeaderboard3 + .dnnLeaderboard-scrollDiv {
    border-top: 1px solid #e7e7e7;
}

.leaderboard table.dnnLeaderboard3 tr {
    position: relative;
    width: 100%;
    display: block;
}

.leaderboard table.dnnLeaderboard3 thead th {
    padding: 9px;
}

.leaderboard table.dnnLeaderboard3 thead,
.leaderboard table.dnnLeaderboard3 tbody {
    display: block;
    overflow: auto;
    width: 100%;
}

.leader-contents table.dnnLeaderboard3 {
    border: 1px solid #d1d1d1;
    border-left: 0;
    border-bottom: 0;
}

    .leader-contents table.dnnLeaderboard3 td,
    .leader-contents table.dnnLeaderboard3 th {
        padding: 8px;
        border-bottom: 1px solid #d1d1d1;
    }

    .leader-contents table.dnnLeaderboard3 th {
        padding: 0;
        border-left: 1px solid #d1d1d1;
        -webkit-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.9);
        box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.9);
    }

        .leader-contents table.dnnLeaderboard3 th > span,
        .leader-contents table.dnnLeaderboard3 th > a {
            display: block;
            padding: 5px 9px;
            color: #555;
        }

    .leader-contents table.dnnLeaderboard3 label {
        display: inline;
        padding-left: 5px;
    }

    .leader-contents table.dnnLeaderboard3 caption {
        display: none;
    }

    .leader-contents table.dnnLeaderboard3 th {
        background: linear-gradient(to bottom, #f5f5f5, #dfdfdf); /* W3C */
        text-align: left;
        text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
        color: #555;
    }

    .leader-contents table.dnnLeaderboard3 th {
        font-weight: bold;
        color: #555;
        text-decoration: none;
        padding: 8px 9px;
    }

        .leader-contents table.dnnLeaderboard3 th a:hover {
            background: linear-gradient(to bottom, #fefefe, #e8e8e8); /* W3C */
            color: #555;
        }

        .leader-contents table.dnnLeaderboard3 th a:active {
            border-color: #999;
            background: linear-gradient(to bottom, #c6c6c6, #f3f3f3); /* W3C */
            -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
        }


    .leader-contents table.dnnLeaderboard3 tr td:first-child + td + td,
    .leader-contents table.dnnLeaderboard3 thead th:first-child + th + th {
        width: 35%;
        vertical-align: middle;
        font-size: 11px;
        color: #999;
    }

    .leader-contents table.dnnLeaderboard3 thead th:first-child + th {
        padding: 0;
    }

        .leader-contents table.dnnLeaderboard3 thead th:first-child + th a {
            width: 100%;
            text-align: center;
        }

    .leader-contents table.dnnLeaderboard3 thead th:first-child + th,
    .leader-contents table.dnnLeaderboard3 tr td:first-child + td {
        width: 75%;
        vertical-align: middle;
    }

    .leader-contents table.dnnLeaderboard3 thead th:first-child,
    .leader-contents table.dnnLeaderboard3 tr td:first-child {
        font-size: 14px;
        font-weight: bold;
        vertical-align: middle;
        min-width: 50px;
        max-width: 60px;
        text-align: center;
        width: 5%;
    }

    .leader-contents table.dnnLeaderboard3 tr:hover td {
        background: rgba(2,139,255,0.15); /* blue */
    }

    .leader-contents table.dnnLeaderboard3 tfoot tr:hover td {
        background: none;
    }

    .leader-contents table.dnnLeaderboard3 tr.dnnLeaderHighlighted td {
        background-color: #dfdfdf;
        background-color: rgba(0, 0, 0, 0.08);
    }
    
    .leader-contents table.dnnLeaderboard3 div.dnnLeaderboard3-avator {
        display: block;
        margin: 0 8px 0 -5px;
        border: 3px solid #ddd;
        background-color: #ddd;
        width: 35px;
        height: 35px;
        float: left;
    }

        .leader-contents table.dnnLeaderboard3 div.dnnLeaderboard3-avator span {
            display: inline-block;
            border: transparent;
            text-decoration: none;
            height: 35px;
            width: 35px;
            overflow: hidden;
        }

        .leader-contents table.dnnLeaderboard3 div.dnnLeaderboard3-avator em {
            display: table-cell; /* vertical centering hack */
            width: 35px;
            height: 35px; /* same as thumbnail dimensions */
            vertical-align: middle; /* vertical centering hack */
        }

        .leader-contents table.dnnLeaderboard3 div.dnnLeaderboard3-avator img {
            display: inline-block;
            border: none;
            width: 100%;
        }

        .leader-contents table.dnnLeaderboard3 div.dnnLeaderboard3-avator + a {
            font-weight: bold;
            color: #41AFA7;
            display: block;
            float: left;
            margin-top: 12px;
            width: 450px;
            overflow: hidden;
            height: 1.2em;
        }

    .leader-contents table.dnnLeaderboard3 span.dnnLeaderboard3-points {
        display: block;
        font-weight: bold;
        font-size: 19px;
        color: #535353;
    }


/* default dnnLeaderboard style No.4 */
.leaderboard div.tableContainer table.dnnLeaderboard4 {
    width: 100%;
    display: block;
    float: none;
}

.leader-contents table.dnnLeaderboard4 tr {
    border-top: 1px solid #d1d1d1;
    width: 100%;
}

    .leader-contents table.dnnLeaderboard4 tr:first-child {
        border-top: none;
    }

    .leader-contents table.dnnLeaderboard4 tr td {
        padding: 8px;
        vertical-align: middle;
    }

        .leader-contents table.dnnLeaderboard4 tr td a.dnnSocialLink {
            display: inline-block;
            font-size: 14px;
        }

        .leader-contents table.dnnLeaderboard4 tr td:first-child {
            padding: 0 20px 0 20px;
            background-color: #dfdfdf;
            background-color: rgba(0, 0, 0, 0.08);
            font-size: 16px;
            font-weight: bold;
            width: 5%;
            text-align: center;
        }

            .leader-contents table.dnnLeaderboard4 tr td:first-child + td {
                width: 80%;
                padding-left: 15px;
            }


        .leader-contents table.dnnLeaderboard4 tr td div.dnnLeaderboard4-avator {
            display: block;
            margin-right: 8px;
            width: 35px;
            height: 35px;
            border: 2px solid #ddd;
            background-color: #ddd;
            float: left;
        }

            .leader-contents table.dnnLeaderboard4 tr td div.dnnLeaderboard4-avator span {
                display: inline-block;
                border: transparent;
                text-decoration: none;
                height: 35px;
                width: 35px;
                overflow: hidden;
            }

            .leader-contents table.dnnLeaderboard4 tr td div.dnnLeaderboard4-avator em {
                display: table-cell; /* vertical centering hack */
                width: 35px;
                height: 35px; /* same as thumbnail dimensions */
                vertical-align: middle; /* vertical centering hack */
            }

            .leader-contents table.dnnLeaderboard4 tr td div.dnnLeaderboard4-avator img {
                display: inline-block;
                border: none;
                width: 100%;
            }

            .leader-contents table.dnnLeaderboard4 tr td div.dnnLeaderboard4-avator + a {
                display: block;
                float: left;
                margin-top: 12px;
            }

.leader-contents table.dnnLeaderboard4 span.dnnLeaderboard4-points {
    display: block;
    font-weight: bold;
    font-size: 19px;
    color: #535353;
}

.leader-contents table.dnnLeaderboard4 tr td:first-child + td + td {
    width: 30%;
    vertical-align: middle;
    font-size: 11px;
    color: #999;
}

.leader-help {
    margin-left: 10px;
    margin-top: 6px;
}

.leader-help-dialog {
    display: none;
    padding: 20px;
    font-family: calibri, verdana, helvetica, sans-serif;
    font-size: 11pt;
}

/* jscroll bar */
.dnnLeaderboard-scrollDiv .jspVerticalBar .jspTrack{ margin: 0; }

/* badge tooltip */
.leaderboard-badge-tooltip {
    position: relative;
}
.leaderboard-badge-tooltip .tag-menu {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    color: #ddd;
    display: none;
    font-size: 11px;
    padding: 10px 15px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    z-index: 1000;
    bottom: 45px;
    left: -15px;
}
    .leaderboard-badge-tooltip .tag-menu:after {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #000;
        content: "";
        height: 0;
        opacity: 0.75;
        position: absolute;
        width: 0;
        bottom: -7px;
        left: 28px;
    }

    .leaderboard-badge-tooltip .tag-menu p {
        margin: 0;
    }