/* Social Calendar List CSS */
/**********************************************************/
#blogArchive{
	margin: 15px 0 15px 0;
	background: #fff;
	padding: 5px 5px 0 5px;
}
.socialEvent-calendar-wrapper {  
  display: inline-block;
  padding: 6px;
}

.socialEvent-calendar { 
	background: #fff; 
	width: 100%;
	margin-bottom: -8px;
}

.socialEvent-calendar tr td {
  margin: 0;
  padding: 0;
}

.socialEvent-calendarTitle { 
	margin: 5px 0 5px 0;
}

.socialEvent-calendarTitle tr td {
  font-size: 16px;
  font-weight: bold;
  padding: 6px;
  color: #666;
}

.socialEvent-calendarNextPrev a,
.socialEvent-calendarNextPrev a:link,
.socialEvent-calendarNextPrev a:visited {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}

.socialEvent-calendarNextPrev a:hover,
.socialEvent-calendarNextPrev a:focus,
.socialEvent-calendarNextPrev a:active {
  color: #cd0000 !important;
  text-decoration: none;
}

.socialEvent-calendar th.socialEvent-calendarDayHeader {
  color: #333;
  font-weight: bold;
  padding: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.socialEvent-calendar td.socialEvent-calendarDay,
.socialEvent-calendar td.socialEvent-calendarWeekend  {
	padding: 9px 6px 3px 6px;
}

.socialEvent-calendar td.socialEvent-calendarDay   > a,
.socialEvent-calendar td.socialEvent-calendarWeekend > a{
	color: #666 !important;
}

.socialEvent-calendar td.socialEvent-calendarOtherMonth {	
	padding: 9px 6px 3px 6px;
}
.socialEvent-calendar td.socialEvent-calendarOtherMonth > a{
	color: #ccc !important;
}

.socialEvent-calendar td.socialEvent-calendarToday {
	  background: #FB4563 !important;	  
	  padding: 9px 6px 3px 6px;
}

.socialEvent-calendar td.socialEvent-calendarToday  > a{
	color: #fff !important;
}

.socialEvent-calendar td.socialEvent-calendarDay,
.socialEvent-calendar td.socialEvent-calendarWeekend,
.socialEvent-calendar td.socialEvent-calendarOtherMonth,
.socialEvent-calendar td.socialEvent-calendarToday,
.socialEvent-calendar td.socialEvent-calendarSelectedDay { 
	border: 1px solid #eee; }

.socialEvent-calendar td.socialEvent-calendarDay a,
.socialEvent-calendar td.socialEvent-calendarDay a:link,
.socialEvent-calendar td.socialEvent-calendarDay a:visited,
.socialEvent-calendar td.socialEvent-calendarWeekend a,
.socialEvent-calendar td.socialEvent-calendarWeekend a:link,
.socialEvent-calendar td.socialEvent-calendarWeekend a:visited,
.socialEvent-calendar td.socialEvent-calendarToday a,
.socialEvent-calendar td.socialEvent-calendarToday a:link,
.socialEvent-calendar td.socialEvent-calendarToday a:visited {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.socialEvent-calendar td.socialEvent-calendarSelectedDay {  
  padding: 9px 6px 3px 6px;
  background-color: #fff !important;
  background-image: url(images/reddot.png);
  background-repeat: no-repeat;
  background-position: center 2px;
}

.socialEvent-calendar td.socialEvent-calendarSelectedDay  > a{
	color: #666 !important;
}

.socialEvent-calendar td.socialEvent-calendarSelectedDay a,
.socialEvent-calendar td.socialEvent-calendarSelectedDay a:link,
.socialEvent-calendar td.socialEvent-calendarSelectedDay a:visited {
  color: #666 !important;
  font-weight: bold;
  text-decoration: none;
}