<%@ Page Language="C#" AutoEventWireup="false" CodeBehind="blogpostredirect.aspx.cs" Inherits="DotNetNuke.Professional.Blogs.MetaWeblog.blogpostredirect" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML>
    <HEAD>
        <title>BlogPost Redirect Page</title>
        <asp:placeholder id="phHead" runat="server"></asp:placeholder>
    </HEAD>
    <body>
        <asp:placeholder id="phBody" runat="server"></asp:placeholder>
        <br />
        <br />
        <br />
        <br />
        <img src="images/indicator.white.gif" alt="waiting image" /> 
        <!-- Loading Image made available from http://mentalized.net/activity-indicators/ -->
    </body>
</HTML>