﻿<%@ Control Language="C#" AutoEventWireup="false" CodeBehind="Dispatch.ascx.cs" Inherits="DotNetNuke.Professional.Blogs.Dispatch" %>
<div class="dnnClear">
	<asp:PlaceHolder ID="phUserControl" runat="server" />
</div>