﻿.status-container > .dnnClear {
    border-top: 1px solid #eee;
    padding: 20px;
}

    .status-container > .dnnClear > ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .status-container > .dnnClear > ul > li {
            margin: 0;
            padding: 0 8px 0 10px;
            list-style-type: none;
            display: inline-block;
            border-left: 1px solid #ddd;
        }

            .status-container > .dnnClear > ul > li:first-child {
                padding-left: 0;
                border-left: none;
            }


.list-tbl td {
    padding: 15px;
}

div.blog-list-title a.dnnSocialLink {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

div.blog-list-title ul.blog-list-title-detail {
    display: block;
    margin: 0;
    padding: 0;
}

    div.blog-list-title ul.blog-list-title-detail li {
        list-style-type: none;
        display: inline-block;
        padding: 0 5px 0 5px;
        border-left: 1px solid #bbb;
    }

        div.blog-list-title ul.blog-list-title-detail li:first-child {
            padding: 0 5px 0 0;
            border-left: none;
        }

.list-row .blog-list-summary {
    margin-bottom: 15px;
    word-wrap: break-word;
}

.blog-list-summary p {
    margin-bottom: 0;
}

.list-row .blog-list-author-avatar {
    width: 55px;
    float: left;
}

.detail-main-container.blog-author {
    padding-top: 0;
}

.blog-author-bio {
    padding: 15px;
    background-color: rgb(238, 238, 238);
}

.blog-author-all .blog-comments-author {
    margin-bottom: 12px;
    display: block;
}

.blog-author-all > p {
    margin: 0 0 12px 0;
}

.blog-author-all a.dnnSocialLink {
    font-weight: bold;
}

.blog-author-bio .avatar40 {
    float: left;
    margin-right: 20px;
}

.blog-author-all {
    margin-left: 60px;
    padding: 0 20px 0 10px;
}

.blog-content-summary {
    padding: 15px;
    background: #eaeaea;
    margin: 20px 0 20px 0;
}

    .blog-content-summary > p {
        margin: 12px 0 0 0;
    }

        .blog-content-summary > p:first-child {
            margin: 0;
        }

.moduleThreadContainer .detail-content-edit {
    margin: 20px 25px 10px 25px;
}

	.moduleThreadContainer .detail-content-edit a {
		display: inline-block;
	    margin-left: 0;
	}

.blog-content-container {
    margin: 20px 0 20px 0;
    word-wrap: break-word;
}

    .blog-content-container img {
        max-width: 100% !important;
    }

    .blog-content-container p {
        margin: 0 0 15px 0;
    }


.blog-comment-container > h3 {
    font-family: arial;
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
}


.dnnBlogEditEntry {
    margin-top: 20px;
    padding: 10px;
    background: #fff;
}

    .dnnBlogEditEntry .dnnLabel {
        width: 110px;
        padding: 0;
    }

.editorContainer {
    padding: 0;
    margin: 8px 0 0 0;
}

    .editorContainer .redactor-box {
        display: block;
        margin-bottom: 18px;
    }

.blog-settings-dialog {
    display: none;
}

.blog-settings-container {
    padding: 20px 0;
}

    .blog-settings-container .dnnMultipleControls,
    .blog-entry-form-container .dnnMultipleControls {
        width: 57%;
        display: inline-block;
        padding: 12px;
    }

#postFields.blog-settings-container  .dnnFormItem .dnnMultipleControls select {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.blog-settings-container .dnnMultipleControls p,
.blog-entry-form-container .dnnMultipleControls p {
    margin: 0;
}

    .blog-settings-container .dnnMultipleControls p.dnnRight,
    .blog-entry-form-container .dnnMultipleControls p.dnnRight {
        width: 92%;
        margin-top: 2px;
    }
    .blog-entry-form-container .dnnMultipleControls span.normalCheckBox {
        display: inline-block;
        margin-top: 2px;
    }

.blog-meta-url {
    padding: 20px;
    background-color: #eee;
    margin: 0 38px 20px 38px;
}

.blog-entry-form-container .dnnFormItem .dnnMultipleControls .entry-publishdate {
    width: 120px;
}

.blog-entry-form-container .dnnMultipleControls div.timeInput {
    display: inline-block;
    margin-left: 4px;
}

.blog-entry-form-container .dnnMultipleControls.blog-author-select {
    padding: 12px;
    margin: 20px 0 20px 0;
    width: 100%;
}

    .blog-entry-form-container .dnnMultipleControls.blog-author-select p {
        margin: 0 0 12px 0;
    }

    .blog-entry-form-container .dnnMultipleControls.blog-author-select select {
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;    
        box-sizing: border-box;
        width: 100%;
        display: block;        
    }

.blog-entry-form-container .dnnFormItem input[type="text"],
.blog-entry-form-container .dnnFormItem select {
    width: 57%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;         
}

span.timeIndicator {
    background-image: url("images/timepicker.png");
    background-position: 0 11px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    vertical-align: top;
    width: 20px;
}

.blog-entry-form-container .dnnMultipleControls div.timeInput select {
    margin-bottom: 10px;
    display: inline-block;
    padding: 7px;
    width: 60px !important;
}

.dnnMultipleControlsFormItem .dnnLabel {
    margin-top: 20px;
}

.dnnFormItemCheckbox.dnnMultipleControlsFormItem .dnnLabel {
    margin-top: 15px;
}

/* Roster */
.blogRoster ul.tagCollections {
    list-style-type: none;
    margin: 15px 0 10px 0;
}

    .blogRoster ul.tagCollections li {
        list-style-type: none;
        margin: 0 0 0 0;
        padding: 2px;
    }

        .blogRoster ul.tagCollections li a {
            display: block;
            font-weight: bold;
        }

        .blogRoster ul.tagCollections li .blog-selected {
            padding: 2px 4px 2px 4px;
            background-color: rgb(238, 238, 238);
            border-radius: 4px;
            margin-right: 26px;
            margin-left: -4px;
        }

        .blogRoster ul.pager-ul li.pager-ul-desc~li{
            display: none;
        }


a.blog-social-rss {
    float: right;
    background-image: url(Images/rss.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: -26px 0 0 0;
}

    a.blog-social-rss:hover {
        background-image: url(Images/rssSelect.png);
    }

.blogRoster li a.blog-social-rss {
    margin: -21px -4px 0 0;
}

div.comments-disabled-message {
    margin-bottom: 0;
}

/* blog list view - summary image */
.list-row .blog-entry-image {
    float: left;
    width: 120px;
    height: 120px;
}

    .list-row .blog-entry-image span {
        display: inline-block;
        border: transparent;
        text-decoration: none;
        height: 120px;
        width: 120px;
        overflow: hidden;
    }

    .list-row .blog-entry-image em {
        display: table-cell;
        width: 120px;
        height: 120px;
        vertical-align: middle;
    }

    .list-row .blog-entry-image img {
        display: inline-block;
        border: none;
        width: 100%;
    }

    .list-row .blog-entry-image + div {
        margin-left: 140px;
    }

    .list-row .blog-entry-image.hide {
        display: none;
    }

    .list-row .blog-entry-image.hide + div {
        margin-left: 0;
    }

/* blog detail view - summary image */
.detail-main-container .blog-entry-image {
    margin-bottom: 15px;
}

    .detail-main-container .blog-entry-image img {
        max-width: 100%;
    }

/* strange tags seperator issue in this module list view*/
.list-row ul.list-row-tags a {
    margin-right: 0;
}

.editorContainer .redactor-box .redactor-editor {
    min-height: 300px;
    max-height: inherit;
    height: auto;
}
