﻿#connector-Zendesk > div.edit-fields > div > div {
    width: 100%;
}
#connector-Zendesk > div.edit-fields > div > div label {
    width: 25%;
}
#connector-Zendesk > div.edit-fields > div > div input[type='text'] {
    width: 65%;
}