﻿.journalContainer-modalContainer {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 7px #bbb;
    padding: 20px 0 20px 0;
}

.journalTools {
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px 0 20px 0;
}

    .journalTools .avatar {
        width: 40px;
        height: 40px;
        float: left;
        margin: 0 0 0 20px;
        border: 3px solid #ccc;
        background-color: #ddd;
    }

        .journalTools .avatar span {
            display: inline-block;
            border: transparent;
            text-decoration: none;
            height: 40px;
            width: 40px;
            overflow: hidden;
        }

        .journalTools .avatar em {
            display: table-cell; /* vertical centering hack */
            width: 40px;
            height: 40px; /* same as thumbnail dimensions */
            vertical-align: middle; /* vertical centering hack */
        }

        .journalTools .avatar img {
            display: inline-block;
            border: none;
            width: 100%;
        }

.journalEditor-Container {
    position: relative;
    margin: 0 20px 0 80px;
    z-index: 1;
}

#journalEditor {
    background: #fff;
    border: 1px solid #e8e8e8;
    overflow: visible;
    padding: 9px 5px 0 5px;
    zoom: 1;
}

    #journalEditor #journalClose, #linkArea #linkClose {
        position: absolute;
        top: 4px;
        right: 4px;
        display: none;
        width: 12px !important;
        height: 12px !important;
        cursor: pointer;
        background-image: url('images/mini_del.gif');
        background-repeat: no-repeat;
        padding: 0 !important;
    }

    #linkArea #linkClose {
        right: -12px;
    }

.jcmt .cmteditarea {
    z-index: 0;
}

.journalTools ul.jacmenu {
    display: none;
    position: absolute;
    z-index: 4;
    list-style-type: none;
    border: solid 1px #dcdcdc;
    background-color: #f5f5f5;
}

    .journalTools ul.jacmenu li {
        padding: 2px;
        list-style-type: none;
        border-bottom: 1px solid #dcdcdc;
        background-color: #f3f3f3;
    }

#journalEditor #journalContent {
    overflow: auto;
    outline: none;
}

    #journalEditor #journalContent span {
        padding: 0 2px 0 2px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }

    #journalEditor #journalContent .juser, .journalrow .juser {
        color: #000;
        border: 1px solid #ccd5e4;
        background-color: #eff2f7;
    }

    #journalEditor #journalContent .jtag, .journalrow .jtag {
        border: 1px solid #ccc;
        background-color: #f5f5f5;
    }

#journalEditor #journalPlaceholder, .jcmt .cmteditarea .editorPlaceholder {
    font-size: 14px;
    color: #999;
    height: 24px;
    line-height: 24px;
    padding-left: 7px;
}

#journalEditor #journalContent {
    font-family: Arial, Helvetica;
    float: left;
    display: none;
    height: 1px;
    margin-bottom: 4px;
    padding: 2px 4px 6px 4px;
    font-size: 14px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 1.3em;
    width: 99%;
    resize: none;
}


#journalEditor .journalPlaceholder {
    width: 100%;
}

#journalEditor .dnnClear {
    height: 0;
}

#journalEditor #tbar {
    float: right;
    position: relative;
    width: 78px;
    margin: 6px 16px 4px;
    min-width: 80px;
}

    #journalEditor #tbar > span {
        display: block;
        height: 16px;
        width: 24px;
        float: right;
        background-image: url('images/journal-tools.png');
        border: 1px solid transparent;
    }

.securityMenu > ul > li > span {
    display: inline-block;
    margin-right: 3px;
}

#journalEditor #tbar span#tbar-photo {
    background-position: 0 0;
}

#journalEditor #tbar span#tbar-attach {
    background-position: -24px 0;
}

#journalEditor #tbar span#tbar-perm {
    background-position: -81px 0;
}

#journalEditor #tbar span#tbar-photo:hover, #journalEditor #tbar span#tbar-photo.selected {
    background-position: 0 -16px;
}

#journalEditor #tbar span#tbar-attach:hover, #journalEditor #tbar span#tbar-attach.selected {
    background-position: -24px -16px;
}

#journalEditor #tbar span#tbar-attach:hover {
    background-position: -24px -16px;
}

#journalEditor #tbar span#tbar-perm:hover {
    background-position: -81px -16px;
}

.journalTools #journalOptionArea {
    background-color: #f5f5f5;
    display: none;
    border: 1px solid #e8e8e8;
    border-top: none;
    border-bottom: none;
    position: relative;
    padding: 0;
}

    .journalTools #journalOptionArea div {
        font-size: 12px;
        padding: 6px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

        .journalTools #journalOptionArea div span {
            font-weight: bold;
            padding-right: 12px;
            padding-left: 12px;
        }

    .journalTools #journalOptionArea #itemUpload {
        margin: 0;
        padding: 0;
    }

    .journalTools #journalOptionArea .jpa {
        display: none;
    }

    .journalTools #journalOptionArea #linkArea {
        position: relative;
        padding: 0;
        margin: 15px;
    }

        .journalTools #journalOptionArea #linkArea #imagePreviewer {
            width: 140px;
            float: left;
            margin: 10px 15px 10px 0;
            padding: 0;
        }

            .journalTools #journalOptionArea #linkArea #imagePreviewer #image {
                width: 140px;
                height: 100px;
                margin-bottom: 8px;
                padding: 0;
            }

                .journalTools #journalOptionArea #linkArea #imagePreviewer #image span {
                    display: inline-block;
                    border: transparent;
                    text-decoration: none;
                    height: 100px;
                    width: 140px;
                    overflow: hidden;
                    padding: 0;
                }

                    .journalTools #journalOptionArea #linkArea #imagePreviewer #image span em {
                        display: table-cell;
                        width: 140px;
                        height: 100px;
                        vertical-align: middle;
                    }

                        .journalTools #journalOptionArea #linkArea #imagePreviewer #image span em img {
                            display: inline-block;
                            border: none;
                            width: 100%;
                        }

            .journalTools #journalOptionArea #linkArea #imagePreviewer #imgPrev,
            .journalTools #journalOptionArea #linkArea #imagePreviewer #imgNext {
                cursor: pointer;
                padding: 0;
                display: block;
                width: 15px;
            }

            .journalTools #journalOptionArea #linkArea #imagePreviewer #imgPrev {
                float: left;
            }

            .journalTools #journalOptionArea #linkArea #imagePreviewer #imgNext {
                float: right;
            }

            .journalTools #journalOptionArea #linkArea #imagePreviewer #imgCount {
                padding: 0;
                display: block;
                margin-left: 15px;
                margin-right: 15px;
                text-align: center;
            }

        .journalTools #journalOptionArea #linkArea #linkInfo {
            padding: 10px;
        }

            .journalTools #journalOptionArea #linkArea #linkInfo > b {
                display: block;
                font-size: 13px;
                margin-bottom: 15px;
            }

.journalTools #share, .jcmt li.cmtbtn a {
    float: left;
    padding: 6px 6px;
    display: none;
    border-radius: 0 !important;
}

.journalTools ul.jacmenu li.liselected {
    background-color: #ffffcc;
}

.journalGetNewUpdates-container {
    padding: 0;
    margin: 0;
    background: #fff;
}

    .journalGetNewUpdates-container > a {
        display: block;
        padding: 15px 0 15px 0;
        border-bottom: 1px solid #e8e8e8;
        text-align: center;
        font-weight: bold;
    }

.journalViewTools-container {
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 20px 20px 20px;
    background: #eee;
    position: relative;
}


.journalrow {
    border-bottom: 1px solid #e4e1e1;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

    .journalrow div.author {
        float: left;
        border: 3px solid #ddd;
        background-color: #ddd;
        width: 40px;
        height: 40px;
    }

        .journalrow div.author span {
            display: inline-block;
            border: transparent;
            text-decoration: none;
            height: 40px;
            width: 40px;
            overflow: hidden;
        }


        .journalrow div.author em {
            display: table-cell; /* vertical centering hack */
            width: 40px;
            height: 40px; /* same as thumbnail dimensions */
            vertical-align: middle; /* vertical centering hack */
        }


        .journalrow div.author img {
            display: inline-block;
            border: none;
            width: 100%;
        }

    .journalrow div.group-avatar {
        float: right;
        margin: 0 30px 10px 10px;
        width: 40px;
        height: 40px;
        border: 3px solid #ddd;
        background-color: #ddd;
    }

        .journalrow div.group-avatar span {
            display: inline-block;
            border: transparent;
            text-decoration: none;
            height: 40px;
            width: 40px;
            overflow: hidden;
        }

        .journalrow div.group-avatar em {
            display: table-cell; /* vertical centering hack */
            width: 40px;
            height: 40px; /* same as thumbnail dimensions */
            vertical-align: middle; /* vertical centering hack */
        }

        .journalrow div.group-avatar img {
            display: inline-block;
            border: none;
            width: 100%;
        }

    .journalrow div.journalitem {
        margin-left: 65px;
        border-left: #E0EFF7 1px solid;
        padding-left: 20px;
    }

        .journalrow div.journalitem p.journalfooter span {
            padding: 0 4px 0 4px;
            font-weight: bold;
        }

        .journalrow div.journalitem .authorname {
            padding-right: 6px;
        }

        .journalrow div.journalitem ul.jcmt {
            margin-left: 0;
            margin-bottom: 0;
        }


            .journalrow div.journalitem ul.jcmt, .journalrow div.journalitem ul.jcmt li {
                list-style-type: none;
            }

                .journalrow div.journalitem ul.jcmt > li {
                    padding: 5px 25px 5px 15px;
                    margin: 0;
                    background: #f1f1f1;
                    clear: both;
                }

                    .journalrow div.journalitem ul.jcmt > li:first-child {
                        padding-top: 25px;
                        margin-top: 20px;
                    }

                        .journalrow div.journalitem ul.jcmt > li:first-child:before {
                            content: "";
                            display: block;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 15px 0 0 15px;
                            border-color: transparent transparent transparent #f1f1f1;
                            margin: -40px 0 20px -15px;
                        }

                    .journalrow div.journalitem ul.jcmt > li.cmtfakeeditarea {
                        padding-bottom: 15px;
                    }

                    .journalrow div.journalitem ul.jcmt > li.jcmt-loadmore {
                        border-right: 5px solid #ff5f76;
                        padding-right: 15px;
                        padding-bottom: 7px;
                        border-bottom: 1px solid #ccc;
                        padding-top: 15px;
                        margin-top: 20px;
                    }

                        .journalrow div.journalitem ul.jcmt > li.jcmt-loadmore:before {
                            content: "";
                            display: block;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 15px 0 0 15px;
                            border-color: transparent transparent transparent #f1f1f1;
                            margin: -30px 0 10px -15px;
                        }

                        .journalrow div.journalitem ul.jcmt > li.jcmt-loadmore > a {
                            display: block;
                            float: right;
                            font-weight: bold;
                        }

                        .journalrow div.journalitem ul.jcmt > li.jcmt-loadmore > span {
                            display: block;
                            float: right;
                            font-weight: bold;
                            margin-right: 10px;
                        }

                .journalrow div.journalitem ul.jcmt li.cmtfakeeditarea input[type="text"] {
                    width: 100%;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    color: #999;
                }

                .journalrow div.journalitem ul.jcmt li textarea {
                    width: 100%;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    height: 120px;
                    font-size: 12px;
                }

                .journalrow div.journalitem ul.jcmt div.jcmtbuttons {
                    margin: 5px 0 5px 0;
                }

                    .journalrow div.journalitem ul.jcmt div.jcmtbuttons > a {
                        margin: 0 10px 0 0;
                    }

                .journalrow div.journalitem ul.jcmt ul.cmt-actions {
                    list-style-type: none;
                    margin: 8px 0 0 47px;
                    padding: 0;
                }

                    .journalrow div.journalitem ul.jcmt ul.cmt-actions li {
                        border-left: 1px solid #dfdfdf;
                        display: inline-block;
                        line-height: 1em;
                        padding: 0 10px 0 10px;
                    }

                        .journalrow div.journalitem ul.jcmt ul.cmt-actions li:first-child {
                            border-left: none;
                            padding-left: 0;
                        }

                        .journalrow div.journalitem ul.jcmt ul.cmt-actions li a {
                            display: block;
                            height: 10px;
                            cursor: pointer;
                        }

                            .journalrow div.journalitem ul.jcmt ul.cmt-actions li a.jcmt-remove {
                                background: transparent url('Images/remove.png') no-repeat;
                                background-position: 0 2px;
                                padding-left: 18px !important;
                            }

                .journalrow div.journalitem ul.jcmt li .activityStream-comment-avatar {
                    float: left;
                    left: 0;
                    margin: 4px;
                    position: relative;
                    top: 0;
                    width: 32px;
                    height: 32px;
                    border: 2px solid #ddd;
                    display: block;
                    background-color: #ddd;
                }

                    .journalrow div.journalitem ul.jcmt li .activityStream-comment-avatar span {
                        display: inline-block;
                        border: transparent;
                        text-decoration: none;
                        height: 32px;
                        width: 32px; /* Set dimensions of thumbnails here */
                        overflow: hidden;
                    }

                    .journalrow div.journalitem ul.jcmt li .activityStream-comment-avatar em {
                        display: table-cell; /* vertical centering hack */
                        width: 32px;
                        height: 32px; /* same as thumbnail dimensions */
                        vertical-align: middle; /* vertical centering hack */
                    }

                    .journalrow div.journalitem ul.jcmt li .activityStream-comment-avatar img {
                        display: inline-block;
                        border: none;
                        width: 100%;
                    }

                .journalrow div.journalitem ul.jcmt li p {
                    padding: 4px 0 4px 5px;
                    margin: 0 0 0 45px;
                }

                    .journalrow div.journalitem ul.jcmt li p a {
                        padding-right: 6px;
                    }

                    .journalrow div.journalitem ul.jcmt li p abbr {
                        border-style: none;
                        display: block;
                        margin: 4px 0 0 0;
                        color: #bbb;
                    }

        .journalrow div.journalitem .journalfooter {
            clear: both;
        }

        .journalrow div.journalitem .journalfooter abbr {
            border-style: none;
            color: #bbb;
            display: inline-block;
            margin-right: 15px;
        }

        .journalrow div.journalitem .jlink > a {
            display: block;
            float: left;
            margin-right: 12px;
            margin-bottom: 12px;
            max-width: 150px;
            position: relative;
        }
        
            .journalrow div.journalitem .jlink > a > img {
                max-width: 150px;
            }

            .journalrow div.journalitem .jlink > a > i {
                display: block;
                position: absolute;
                background-image: url(images/videoPlayer.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: 0 0;
                height: 54px;
                width: 54px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }

            .journalrow div.journalitem .jlink a.journalVideoEmbed i:hover {
                    background-position: 0 -55px;
            }

            .journalrow div.journalitem div.journalgroup span.journal-grouped-section {
                display: block;
                margin: 15px 0 11px 0;
                min-height: 30px;
            }

            .journalrow div.journalitem div.journalgroup a.journal-grouped-avatar {
                display: inline-block;
                float: left;
                border: transparent;
                text-decoration: none;
                height: 30px;
                width: 30px;
                overflow: hidden;
                margin: -4px 6px 0 0;
            }

                .journalrow div.journalitem div.journalgroup a.journal-grouped-avatar em {
                    display: table-cell;
                    width: 30px;
                    height: 30px;
                    vertical-align: middle;
                }

                .journalrow div.journalitem div.journalgroup em img {
                    display: inline-block;
                    width: 100%;
                }

/* Visibility and Security */
.securityMenu {
    position: absolute;
    right: -7px;
    display: none;
    min-width: 200px;
    height: 300px;
    margin-top: 24px;
    background-color: #fff;
    z-index: 1000;
}

    .securityMenu .handle {
        z-index: 1000;
        position: absolute;
        right: 2px;
        top: -28px;
        width: 26px;
        height: 22px;
        border: 1px solid #ccc;
        border-bottom: 1px solid #fff;
        border-radius: 3px 3px 0 0;
    }

.DnnModule .securityMenu ul {
    position: absolute;
    top: -5px;
    right: 2px;
    padding: 15px;
    border: 1px solid #ccc;
    list-style: none;
    background: #fff;
    border-radius: 3px 0 3px 3px;
    box-shadow: 0 2px 0 0 #000000;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .5);
}

.securityMenu ul li {
    list-style: none;
    margin-bottom: 4px;
}

.journalitem p {
    margin-bottom: 5px;
    word-wrap: break-word;
}

/* File Upload */
.progress_bar_wrapper {
    overflow: hidden;
}

.progress-bar div {
    background-color: #2fa6eb;
    position: relative;
    padding: 0 !important;
}

.journalTools #journalOptionArea div span.browser-upload-btn {
    position: relative;
    font-weight: bold;
    padding-left: 0;
    cursor: pointer;
}

.browser-upload-btn:hover {
    cursor: pointer;
}

div.journalTools div#journalOptionArea div.fileUploadArea div#itemUpload div.filePreviewArea {
    padding: 10px 10px 0 10px;
    margin: 0;
}

div.journalTools div#journalOptionArea div.fileUploadArea div#itemUpload div.progress_bar_wrapper {
    padding: 0;
    margin: 0;
}

.journalTools #journalOptionArea #itemUpload .filePreviewArea div.preview-photo-item {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    padding: 0;
    width: 150px;
}

.journalTools #journalOptionArea #itemUpload .filePreviewArea div.preview-photo-item img {
    display: block;
    max-width: 100%;
}

.journalTools #journalOptionArea #itemUpload .filePreviewArea:after {
    display: block;
    clear: both;
    content: '';
}

.journalrow div.journalitem .jlink a.jlinkTitle {
    font-weight: bold;
    display: block;
    font-size: 13px;
    margin-bottom: 8px;
}

div#journalItems {
    background-color: #FFFFFF;
    padding: 20px 20px 0 20px;
}

    div#journalItems div.journalrow div.journalitem ul.jcmt li.cmteditarea {
        display: none;
        overflow: auto;
        padding-bottom: 10px;
    }

.journalrow .juser {
    cursor: pointer;
}

div#journalOptionArea > div.fileUploadArea {
    padding: 0;
}

div#journalOptionArea div.journal_onlineFileShare,
div#journalOptionArea div.journal_localFileShare {
    width: 50%;
    float: left;
    padding: 0;
}

div#journalOptionArea div.journal_onlineFileShare {
    border-right: 1px solid #cce8ff;
    margin-right: 25px;
}

div#journalOptionArea div.journal_localFileShare {
    width: 40%;
}

div#journalOptionArea div.journal_onlineFileShare div {
    margin: 0;
    padding: 0;
}

div#journalOptionArea div.journal_onlineFileShare a.dnnSecondaryAction {
    display: inline-block;
    margin: 15px 0 0 15px;
}

div#journalOptionArea div.journal_localFileShare .dnnForm {
    margin: 15px 0 0 10px;
    padding: 0;
}

p#noActivityStreamPlaceHolder {
    padding-bottom: 10px;
}

.journalBottomContorls-container {
    padding: 30px 20px 20px 20px;
    margin-top: -22px;
}

.journalTopContorls-container {
    padding: 30px 20px 20px 20px;
    margin-top: -22px;
}

/* Activity Stream: Activity Filter */
.createNew > a {
    font-weight: bold;
}

.linkDivider {
    margin: 10px 0 10px 0;
}

.filters {
    margin: 0 0 0 0;
}

.filter {
    list-style-type: none;
    cursor: pointer;
}

.editFilter {
    float: right;
    background: url('Images/edit_pen.gif');
    width: 16px;
    height: 16px;
    display: none;
}

li.filter:hover > div > a.editFilter {
    display: inline;
}

.activityFilterBuilder {
    display: block;
}

.contentTypesContainer {
    height: 200px;
    width: 57%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #c9c9c9;
}

.contentTypes {
    height: auto;
    max-width: 460px;
}

.filterTypes {
    margin: 0;
    list-style-type: none;
    max-width: 460px;
}

.filterType {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 7px 0 7px 0;
    margin: 0;
    background-image: linear-gradient(to bottom, rgb(240,240,240), rgb(252,252,252));
}

    .filterType input {
        margin: 15px;
    }

        .filterType input span {
            text-decoration: none;
            color: #000;
            display: block;
            width: 200px;
            font-size: 15px;
        }

    .filterType .unchecked {
        margin: 13px;
        background: url(../../../images/unchecked.gif) no-repeat;
        display: inline;
        padding: 0 15px 0 0;
    }

    .filterType .checked {
        margin: 13px;
        background: url(../../../images/checked.gif) no-repeat;
        display: inline;
        padding: 0 15px 0 0;
    }

.acResults {
    z-index: 1100;
}

.journalViewTools {
    display: block;
}

    .journalViewTools > a.dnnPrimaryAction {
        margin: 0;
        display: block;
        float: left;
    }

.select-view {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: none;
    color: #888;
    cursor: pointer;
    display: block;
    float: right;
    margin: 0;
    outline: none;
    padding: 9px 8px 8px 8px;
}

ul.jcmt .likes {
    margin-left: 45px;
}

#journalItems .likes-big,
#journalItems .likes-small {
    display: none;
}

span.journalsummary {
    display: block;
    overflow: hidden;
    word-wrap: break-word;
}

/* like tag menu */
.journal-grouped-section .tag-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    white-space: nowrap;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    background: #000000;
    background: rgba(0,0,0,0.75);
    color: #ddd;
    text-align: left;
    bottom: 100%;
    left: -5px;
}

    .journal-grouped-section .tag-menu:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        opacity: 0.75;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #000;
        left: 20px;
        bottom: -7px;
    }

    .journal-grouped-section .tag-menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .journal-grouped-section .tag-menu ul li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

#journalItems .journal-grouped-section-big,
#journalItems .journal-grouped-section-small {
    display: none;
}

.journalTools #journalOptionArea #itemUpload .filePreviewArea .tbar-attach-doc {
    margin: 0;
    padding: 6px;        
}

    .journalTools #journalOptionArea #itemUpload .filePreviewArea .tbar-attach-doc > img {
        width: 16px;
        height: 16px;
        display: block;
        float: left;
    }

    .journalTools #journalOptionArea #itemUpload .filePreviewArea .tbar-attach-doc > p {
        margin: 0 0 0 22px;
    }

.journalTools #journalOptionArea #itemUpload .progress_bar_wrapper .progress_context {
    margin: 0;
    padding: 10px;
}

    .journalTools #journalOptionArea #itemUpload .progress_bar_wrapper .progress_context .progress-bar {
        margin: 0;
        padding: 0;
    }

.jfile .attached-files-control {
    padding: 15px 15px 7px 15px;
    background: #eee;
}

    .jfile .attached-files-control > div {
        display: block;
        margin: 0 0 8px 0;    
    }

     .jfile .attached-files-control > div > img {
         display: block;
         width: 16px;
         height: 16px;
         float: left;
     }

         .jfile .attached-files-control > div > a {
             display: block;
             margin-left: 22px;
         }