﻿/* List View */
table.list-tbl thead td {
    padding-left: 15px;
    font-weight: bold;
}

table.list-tbl tbody td {
    padding: 10px 15px 10px 15px;
}

/* Detail View */
.detail-main-container > .answer-content {
    display: block;
    border-left: 1px solid #dfdfdf;
    margin: 0 0 0 62px;
    padding: 20px;
}

.redactor-box .redactor-editor {
    min-height: 260px;
}

/*Notification dialog*/
.noTittle .ui-dialog-titlebar,
.noTittle .ui-dialog-titlebar-close {
    display:none}

.dnnDialogBlue.ui-dialog-content.ui-widget-content {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    position: absolute;
    padding: 15px;
    background-color: #002e47;
    opacity: 0.9;
    z-index: 99999;
    border-radius: 3px;
    color: #fff;
    display: none;
}

.blueIcon {
    background-image: url('/DesktopModules/DNNCorp/EvoqContentLibrary/SharedAssets/Images/notify.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 7px 0 0 40px;
    min-height: 31px;
}

.dnnDialogBlue.warningDialog .blueIcon {
    background-image: url('/DesktopModules/DNNCorp/EvoqContentLibrary/SharedAssets/Images/warning.png');
} 

.blueIcon p {
    color: #fff;
}
