﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>

    <button data-ng-click="exportData(filtros.IdTipoSolicitud)">Exportar</button>

    <!-- Grid Gestor Marca Auto -->
    <div id="exportable1" ng-hide="true">
        <table width="80%">
            <thead>
                <tr>
                    <th>Numero Solicitud</th>
                    <th>Nombre Completo</th>
                    <th>Estado Solicitud</th>
                    <th>Fecha Creaci&oacute;n</th>
                    <th>Fecha Actualizaci&oacute;n</th>
                    <th>Pa&iacute;s</th>
                    <th>Tel&eacute;fono</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Nacionalidad</th>
                    <th>Ciudad de residencia</th>
                    <th>Tipo de identificaci&oacute;n</th>
                    <th>N&uacute;mero de identificaci&oacute;n</th>
                    <th>Profesi&oacute;n</th>
                    <th>Es cliente LAFISE</th>
                    <th>Posee n&oacute;mina LAFISE</th>
                    <th>Tiene negocio propio</th>
                    <th>Es asalariado</th>
                    <th>Promedio de ingresos mensuales</th>
                    <th>Soporte de negocio propio</th>
                    <th>Soporte de ingresos</th>
                    <th>Valor del bien</th>
                    <th>Monto a financiar</th>
                    <th>Prima o anticipo</th>
                    <th>Plazo</th>
                    <th>Auto usado</th>
                    <th>Categor&iacute;a</th>
                    <th>Marca de auto</th>
                    <th>Modelo</th>
                    <th>Casa Comercial</th>
                    <th>Comentario Inicial</th>
                    <th>Estado Historico Inicial</th>
                    <th>Comentario</th>
                    <th>Estado Historico</th>
                    <th>Tipo contacto</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in listaExportar">
                    <td align="left">{{item.NumeroSolicitud}}</td>
                    <td align="left">{{item.NombreCompleto}} </td>
                    <td align="left">{{item.EstadoSolicitud}} </td>
                    <td align="left">{{item.FechaCreacion}} </td>
                    <td align="left">{{item.FechaActualizacion}} </td>
                    <td align="left">{{item.NombrePais}} </td>
                    <td align="left">{{item.Telefono}} </td>
                    <td align="left">{{item.Email}} </td>
                    <td align="left">{{item.Sexo}} </td>
                    <td align="left">{{item.Nacionalidad}} </td>
                    <td align="left">{{item.CiudadResidencia}} </td>
                    <td align="left">{{item.TipoIdentificacion}} </td>
                    <td align="left">{{item.NumeroIdentificacion}} </td>
                    <td align="left">{{item.Profesion}} </td>
                    <td align="left">{{item.EsCliente}} </td>
                    <td align="left">{{item.PoseeNomina}} </td>
                    <td align="left">{{item.NegocioPropio}} </td>
                    <td align="left">{{item.Asalariado}} </td>
                    <td align="left">{{item.PromedioIngresoMensualNombre}} </td>
                    <td align="left">{{item.SoporteNegocioPropio}} </td>
                    <td align="left">{{item.SoporteIngresos}} </td>
                    <td align="left">{{item.ValorBien}} </td>
                    <td align="left">{{item.MontoFinanciar}} </td>
                    <td align="left">{{item.PrimaAnticipo}} </td>
                    <td align="left">{{item.Plazo}} </td>
                    <td align="left">{{item.AutoUsado}} </td>
                    <td align="left">{{item.Categoria}} </td>
                    <td align="left">{{item.MarcaAuto}} </td>
                    <td align="left">{{item.Modelo}} </td>
                    <td align="left">{{item.CasaComercial}} </td>
                    <td align="left">{{item.ComentarioInicial}} </td>
                    <td align="left">{{item.EstadoInicial}} </td>
                    <td align="left">{{item.Comentario}} </td>
                    <td align="left">{{item.EstadoHistorico}} </td>
                    <td align="left">{{item.TipoContacto}} </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Grid Gestor Prestamo Personal-->
    <div id="exportable2" ng-hide="true">
        <table width="80%">
            <thead>
                <tr>
                    <th>Numero Solicitud</th>
                    <th>Nombre Completo</th>
                    <th>Estado Solicitud</th>
                    <th>Fecha Creaci&oacute;n</th>
                    <th>Fecha Actualizaci&oacute;n</th>
                    <th>Pa&iacute;s</th>
                    <th>Tel&eacute;fono</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Nacionalidad</th>
                    <th>Ciudad de residencia</th>
                    <th>Tipo de identificaci&oacute;n</th>
                    <th>N&uacute;mero de identificaci&oacute;n</th>
                    <th>Profesi&oacute;n</th>
                    <th>Es cliente LAFISE</th>
                    <th>Posee n&oacute;mina LAFISE</th>
                    <th>Tiene negocio propio</th>
                    <th>Es asalariado</th>
                    <th>Promedio de ingresos mensuales</th>
                    <th>Soporte de negocio propio</th>
                    <th>Soporte de ingresos</th>
                    <th>Monto a financiar</th>
                    <th>Garantia</th>
                    <th>Plazo</th>
                    <th>Nombre Codeudor</th>
                    <th>Apellido Codeudor</th>
                    <th>Tel&eacute;fono Codeudor</th>
                    <th>Email Codeudor</th>
                    <th>Sexo Codeudor</th>
                    <th>Nacionalidad Codeudor</th>
                    <th>Ciudad de residencia Codeudor</th>
                    <th>Tipo de identificaci&oacute;n Codeudor</th>
                    <th>N&uacute;mero de identificaci&oacute;n Codeudor</th>
                    <th>Profesi&oacute;n Codeudor</th>
                    <th>Comentario Inicial</th>
                    <th>Estado Historico Inicial</th>
                    <th>Comentario</th>
                    <th>Estado Historico</th>
                    <th>Tipo contacto</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in listaExportar">
                    <td align="left">{{item.NumeroSolicitud}}</td>
                    <td align="left">{{item.NombreCompleto}} </td>
                    <td align="left">{{item.EstadoSolicitud}} </td>
                    <td align="left">{{item.FechaCreacion}} </td>
                    <td align="left">{{item.FechaActualizacion}} </td>
                    <td align="left">{{item.NombrePais}} </td>
                    <td align="left">{{item.Telefono}} </td>
                    <td align="left">{{item.Email}} </td>
                    <td align="left">{{item.Sexo}} </td>
                    <td align="left">{{item.Nacionalidad}} </td>
                    <td align="left">{{item.CiudadResidencia}} </td>
                    <td align="left">{{item.TipoIdentificacion}} </td>
                    <td align="left">{{item.NumeroIdentificacion}} </td>
                    <td align="left">{{item.Profesion}} </td>
                    <td align="left">{{item.EsCliente}} </td>
                    <td align="left">{{item.PoseeNomina}} </td>
                    <td align="left">{{item.NegocioPropio}} </td>
                    <td align="left">{{item.Asalariado}} </td>
                    <td align="left">{{item.PromedioIngresoMensualNombre}} </td>
                    <td align="left">{{item.SoporteNegocioPropio}} </td>
                    <td align="left">{{item.SoporteIngresos}} </td>
                    <td align="left">{{item.MontoFinanciar}} </td>
                    <td align="left">{{item.Garantia}} </td>
                    <td align="left">{{item.Plazo}} </td>
                    <td align="left">{{item.NombreCodeudor}} </td>
                    <td align="left">{{item.ApellidoCodeudor}} </td>
                    <td align="left">{{item.TelefonoCodeudor}} </td>
                    <td align="left">{{item.EmailCodeudor}} </td>
                    <td align="left">{{item.SexoCodeudor}} </td>
                    <td align="left">{{item.NacionalidadCodeudor}} </td>
                    <td align="left">{{item.CiudadResidenciaCodeudor}} </td>
                    <td align="left">{{item.TipoIdentificacionCodeudor}} </td>
                    <td align="left">{{item.NumeroIdentificacion}} </td>
                    <td align="left">{{item.ProfesionCodeudor}} </td>
                    <td align="left">{{item.ComentarioInicial}} </td>
                    <td align="left">{{item.EstadoInicial}} </td>
                    <td align="left">{{item.Comentario}} </td>
                    <td align="left">{{item.EstadoHistorico}} </td>
                    <td align="left">{{item.TipoContacto}} </td>
                </tr>
            </tbody>
        </table>
    </div>



    <!-- Grid Gestor Prestamo Hipotecario-->
    <div id="exportable3" ng-hide="true">
        <table width="80%">
            <thead>
                <tr>
                    <th>Numero Solicitud</th>
                    <th>Nombre Completo</th>
                    <th>Estado Solicitud</th>
                    <th>Fecha Creaci&oacute;n</th>
                    <th>Fecha Actualizaci&oacute;n</th>
                    <th>Pa&iacute;s</th>
                    <th>Tel&eacute;fono</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Nacionalidad</th>
                    <th>Ciudad de residencia</th>
                    <th>Tipo de identificaci&oacute;n</th>
                    <th>N&uacute;mero de identificaci&oacute;n</th>
                    <th>Profesi&oacute;n</th>
                    <th>Es cliente LAFISE</th>
                    <th>Posee n&oacute;mina LAFISE</th>
                    <th>Tiene negocio propio</th>
                    <th>Es asalariado</th>
                    <th>Promedio de ingresos mensuales</th>
                    <th>Soporte de negocio propio</th>
                    <th>Soporte de ingresos</th>
                    <th>Valor del bien</th>
                    <th>Monto a financiar</th>
                    <th>Prima o anticipo</th>
                    <th>Plazo</th>
                    <th>Auto usado</th>
                    <th>Categor&iacute;a</th>
                    <th>Marca de auto</th>
                    <th>Modelo</th>
                    <th>Casa Comercial</th>
                    <th>Comentario Inicial</th>
                    <th>Estado Historico Inicial</th>
                    <th>Comentario</th>
                    <th>Estado Historico</th>
                    <th>Tipo contacto</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in listaExportar">
                    <td align="left">{{item.NumeroSolicitud}}</td>
                    <td align="left">{{item.NombreCompleto}} </td>
                    <td align="left">{{item.EstadoSolicitud}} </td>
                    <td align="left">{{item.FechaCreacion}} </td>
                    <td align="left">{{item.FechaActualizacion}} </td>
                    <td align="left">{{item.NombrePais}} </td>
                    <td align="left">{{item.Telefono}} </td>
                    <td align="left">{{item.Email}} </td>
                    <td align="left">{{item.Sexo}} </td>
                    <td align="left">{{item.Nacionalidad}} </td>
                    <td align="left">{{item.CiudadResidencia}} </td>
                    <td align="left">{{item.TipoIdentificacion}} </td>
                    <td align="left">{{item.NumeroIdentificacion}} </td>
                    <td align="left">{{item.Profesion}} </td>
                    <td align="left">{{item.EsCliente}} </td>
                    <td align="left">{{item.PoseeNomina}} </td>
                    <td align="left">{{item.NegocioPropio}} </td>
                    <td align="left">{{item.Asalariado}} </td>
                    <td align="left">{{item.PromedioIngresoMensualNombre}} </td>
                    <td align="left">{{item.SoporteNegocioPropio}} </td>
                    <td align="left">{{item.SoporteIngresos}} </td>
                    <td align="left">{{item.ValorBien}} </td>
                    <td align="left">{{item.MontoFinanciar}} </td>
                    <td align="left">{{item.PrimaAnticipo}} </td>
                    <td align="left">{{item.Plazo}} </td>
                    <td align="left">{{item.ConstruccionPropia}} </td>
                    <td align="left">{{item.Categoria}} </td>
                    <td align="left">{{item.TipoPropiedad}} </td>
                    <td align="left">{{item.Urbanizadora}} </td>
                    <td align="left">{{item.ComentarioInicial}} </td>
                    <td align="left">{{item.EstadoInicial}} </td>
                    <td align="left">{{item.Comentario}} </td>
                    <td align="left">{{item.EstadoHistorico}} </td>
                    <td align="left">{{item.TipoContacto}} </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Grid Gestor Tarjeta credito-->
    <div id="exportable4" ng-hide="true">
        <table width="80%">
            <thead>
                <tr>
                    <th>Numero Solicitud</th>
                    <th>Nombre Completo</th>
                    <th>Estado Solicitud</th>
                    <th>Fecha Creaci&oacute;n</th>
                    <th>Fecha Actualizaci&oacute;n</th>
                    <th>Pa&iacute;s</th>
                    <th>Tel&eacute;fono</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Nacionalidad</th>
                    <th>Ciudad de residencia</th>
                    <th>Tipo de identificaci&oacute;n</th>
                    <th>N&uacute;mero de identificaci&oacute;n</th>
                    <th>Profesi&oacute;n</th>
                    <th>Es cliente LAFISE</th>
                    <th>Posee n&oacute;mina LAFISE</th>
                    <th>Tiene negocio propio</th>
                    <th>Es asalariado</th>
                    <th>Promedio de ingresos mensuales</th>
                    <th>Soporte de negocio propio</th>
                    <th>Soporte de ingresos</th>
                    <th>Estado de cuenta</th>
                    <th>Direcci&oacute;n</th>
                    <th>Nombre de referencia 1</th>
                    <th>Apellido de referencia 1</th>
                    <th>Tel&eacute;fono de referencia 1</th>
                    <th>Nombre de referencia 2</th>
                    <th>Apellido de referencia 2</th>
                    <th>Tel&eacute;fono de referencia 2</th>
                    <th>Comentario Inicial</th>
                    <th>Estado Historico Inicial</th>
                    <th>Comentario</th>
                    <th>Estado Historico</th>
                    <th>Tipo contacto</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in listaExportar">
                    <td align="left">{{item.NumeroSolicitud}}</td>
                    <td align="left">{{item.NombreCompleto}} </td>
                    <td align="left">{{item.EstadoSolicitud}} </td>
                    <td align="left">{{item.FechaCreacion}} </td>
                    <td align="left">{{item.FechaActualizacion}} </td>
                    <td align="left">{{item.NombrePais}} </td>
                    <td align="left">{{item.Telefono}} </td>
                    <td align="left">{{item.Email}} </td>
                    <td align="left">{{item.Sexo}} </td>
                    <td align="left">{{item.Nacionalidad}} </td>
                    <td align="left">{{item.CiudadResidencia}} </td>
                    <td align="left">{{item.TipoIdentificacion}} </td>
                    <td align="left">{{item.NumeroIdentificacion}} </td>
                    <td align="left">{{item.Profesion}} </td>
                    <td align="left">{{item.EsCliente}} </td>
                    <td align="left">{{item.PoseeNomina}} </td>
                    <td align="left">{{item.NegocioPropio}} </td>
                    <td align="left">{{item.Asalariado}} </td>
                    <td align="left">{{item.PromedioIngresoMensualNombre}} </td>
                    <td align="left">{{item.SoporteNegocioPropio}} </td>
                    <td align="left">{{item.SoporteIngresos}} </td>
                    <td align="left">{{item.EstadoCuenta}} </td>
                    <td align="left">{{item.Direccion}} </td>
                    <td align="left">{{item.NombreReferencia1}} </td>
                    <td align="left">{{item.ApellidosReferencia1}} </td>
                    <td align="left">{{item.TelefonoReferencia1}} </td>
                    <td align="left">{{item.NombreReferencia2}} </td>
                    <td align="left">{{item.ApellidosReferencia2}} </td>
                    <td align="left">{{item.TelefonoReferencia2}} </td>
                    <td align="left">{{item.ComentarioInicial}} </td>
                    <td align="left">{{item.EstadoInicial}} </td>
                    <td align="left">{{item.Comentario}} </td>
                    <td align="left">{{item.EstadoHistorico}} </td>
                    <td align="left">{{item.TipoContacto}} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Grid Gestor Tarjeta debito-->
    <div id="exportable5" ng-hide="true">
        <table width="80%">
            <thead>
                <tr>
                    <th>Numero Solicitud</th>
                    <th>Nombre Completo</th>
                    <th>Estado Solicitud</th>
                    <th>Fecha Creaci&oacute;n</th>
                    <th>Fecha Actualizaci&oacute;n</th>
                    <th>Pa&iacute;s</th>
                    <th>Tel&eacute;fono</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Nacionalidad</th>
                    <th>Ciudad de residencia</th>
                    <th>Tipo de identificaci&oacute;n</th>
                    <th>N&uacute;mero de identificaci&oacute;n</th>
                    <th>Profesi&oacute;n</th>
                    <th>Es cliente LAFISE</th>
                    <th>Posee n&oacute;mina LAFISE</th>
                    <th>Tiene negocio propio</th>
                    <th>Es asalariado</th>
                    <th>Promedio de ingresos mensuales</th>
                    <th>Soporte de negocio propio</th>
                    <th>Soporte de ingresos</th>
                    <th>Estado de cuenta</th>
                    <th>Direcci&oacute;n</th>
                    <th>Nombre de referencia 1</th>
                    <th>Apellido de referencia 1</th>
                    <th>Tel&eacute;fono de referencia 1</th>
                    <th>Nombre de referencia 2</th>
                    <th>Apellido de referencia 2</th>
                    <th>Tel&eacute;fono de referencia 2</th>
                    <th>Comentario Inicial</th>
                    <th>Estado Historico Inicial</th>
                    <th>Comentario</th>
                    <th>Estado Historico</th>
                    <th>Tipo contacto</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in listaExportar">
                    <td align="left">{{item.NumeroSolicitud}}</td>
                    <td align="left">{{item.NombreCompleto}} </td>
                    <td align="left">{{item.EstadoSolicitud}} </td>
                    <td align="left">{{item.FechaCreacion}} </td>
                    <td align="left">{{item.FechaActualizacion}} </td>
                    <td align="left">{{item.NombrePais}} </td>
                    <td align="left">{{item.Telefono}} </td>
                    <td align="left">{{item.Email}} </td>
                    <td align="left">{{item.Sexo}} </td>
                    <td align="left">{{item.Nacionalidad}} </td>
                    <td align="left">{{item.CiudadResidencia}} </td>
                    <td align="left">{{item.TipoIdentificacion}} </td>
                    <td align="left">{{item.NumeroIdentificacion}} </td>
                    <td align="left">{{item.Profesion}} </td>
                    <td align="left">{{item.EsCliente}} </td>
                    <td align="left">{{item.PoseeNomina}} </td>
                    <td align="left">{{item.NegocioPropio}} </td>
                    <td align="left">{{item.Asalariado}} </td>
                    <td align="left">{{item.PromedioIngresoMensualNombre}} </td>
                    <td align="left">{{item.SoporteNegocioPropio}} </td>
                    <td align="left">{{item.SoporteIngresos}} </td>
                    <td align="left">{{item.EstadoCuenta}} </td>
                    <td align="left">{{item.Direccion}} </td>
                    <td align="left">{{item.NombreReferencia1}} </td>
                    <td align="left">{{item.ApellidosReferencia1}} </td>
                    <td align="left">{{item.TelefonoReferencia1}} </td>
                    <td align="left">{{item.NombreReferencia2}} </td>
                    <td align="left">{{item.ApellidosReferencia2}} </td>
                    <td align="left">{{item.TelefonoReferencia2}} </td>
                    <td align="left">{{item.ComentarioInicial}} </td>
                    <td align="left">{{item.EstadoInicial}} </td>
                    <td align="left">{{item.Comentario}} </td>
                    <td align="left">{{item.EstadoHistorico}} </td>
                    <td align="left">{{item.TipoContacto}} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Grid Gestor Prestamo Educativo-->
    <div id="exportable6" ng-hide="true">
        <table width="80%">
            <thead>
                <tr>
                    <th>Numero Solicitud</th>
                    <th>Nombre Completo</th>
                    <th>Estado Solicitud</th>
                    <th>Fecha Creaci&oacute;n</th>
                    <th>Fecha Actualizaci&oacute;n</th>
                    <th>Pa&iacute;s</th>
                    <th>Tel&eacute;fono</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Nacionalidad</th>
                    <th>Ciudad de residencia</th>
                    <th>Tipo de identificaci&oacute;n</th>
                    <th>N&uacute;mero de identificaci&oacute;n</th>
                    <th>Profesi&oacute;n</th>
                    <th>Es cliente LAFISE</th>
                    <th>Posee n&oacute;mina LAFISE</th>
                    <th>Tiene negocio propio</th>
                    <th>Es asalariado</th>
                    <th>Promedio de ingresos mensuales</th>
                    <th>Soporte de negocio propio</th>
                    <th>Soporte de ingresos</th>
                    <th>Costo Programa</th>
                    <th>Garantia</th>
                    <th>Plazo</th>
                    <th>Monto a financiar</th>
                    <th>Nombre Codeudor</th>
                    <th>Apellido Codeudor</th>
                    <th>Tel&eacute;fono Codeudor</th>
                    <th>Email Codeudor</th>
                    <th>Sexo Codeudor</th>
                    <th>Nacionalidad Codeudor</th>
                    <th>Ciudad de residencia Codeudor</th>
                    <th>Tipo de identificaci&oacute;n Codeudor</th>
                    <th>N&uacute;mero de identificaci&oacute;n Codeudor</th>
                    <th>Profesi&oacute;n Codeudor</th>
                    <th>Comentario Inicial</th>
                    <th>Estado Historico Inicial</th>
                    <th>Comentario</th>
                    <th>Estado Historico</th>
                    <th>Tipo contacto</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in listaExportar">
                    <td align="left">{{item.NumeroSolicitud}}</td>
                    <td align="left">{{item.NombreCompleto}} </td>
                    <td align="left">{{item.EstadoSolicitud}} </td>
                    <td align="left">{{item.FechaCreacion}} </td>
                    <td align="left">{{item.FechaActualizacion}} </td>
                    <td align="left">{{item.NombrePais}} </td>
                    <td align="left">{{item.Telefono}} </td>
                    <td align="left">{{item.Email}} </td>
                    <td align="left">{{item.Sexo}} </td>
                    <td align="left">{{item.Nacionalidad}} </td>
                    <td align="left">{{item.CiudadResidencia}} </td>
                    <td align="left">{{item.TipoIdentificacion}} </td>
                    <td align="left">{{item.NumeroIdentificacion}} </td>
                    <td align="left">{{item.Profesion}} </td>
                    <td align="left">{{item.EsCliente}} </td>
                    <td align="left">{{item.PoseeNomina}} </td>
                    <td align="left">{{item.NegocioPropio}} </td>
                    <td align="left">{{item.Asalariado}} </td>
                    <td align="left">{{item.PromedioIngresoMensualNombre}} </td>
                    <td align="left">{{item.SoporteNegocioPropio}} </td>
                    <td align="left">{{item.SoporteIngresos}} </td>
                    <td align="left">{{item.CostoPrograma}} </td>
                    <td align="left">{{item.Garantia}} </td>
                    <td align="left">{{item.Plazo}} </td>
                    <td align="left">{{item.MontoFinanciar}} </td>
                    <td align="left">{{item.NombreCodeudor}} </td>
                    <td align="left">{{item.ApellidoCodeudor}} </td>
                    <td align="left">{{item.TelefonoCodeudor}} </td>
                    <td align="left">{{item.EmailCodeudor}} </td>
                    <td align="left">{{item.SexoCodeudor}} </td>
                    <td align="left">{{item.NacionalidadCodeudor}} </td>
                    <td align="left">{{item.CiudadResidenciaCodeudor}} </td>
                    <td align="left">{{item.TipoIdentificacionCodeudor}} </td>
                    <td align="left">{{item.NumeroIdentificacion}} </td>
                    <td align="left">{{item.ProfesionCodeudor}} </td>
                    <td align="left">{{item.ComentarioInicial}} </td>
                    <td align="left">{{item.EstadoInicial}} </td>
                    <td align="left">{{item.Comentario}} </td>
                    <td align="left">{{item.EstadoHistorico}} </td>
                    <td align="left">{{item.TipoContacto}} </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Grid Gestor Apertura de cuenta-->
    <div id="exportable7" ng-hide="true">
        <table width="80%">
            <thead>
                <tr>
                    <th>Numero Solicitud</th>
                    <th>Nombre Completo</th>
                    <th>Estado Solicitud</th>
                    <th>Fecha Creaci&oacute;n</th>
                    <th>Fecha Actualizaci&oacute;n</th>
                    <th>Pa&iacute;s</th>
                    <th>Tel&eacute;fono</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Nacionalidad</th>
                    <th>Ciudad de residencia</th>
                    <th>Tipo de identificaci&oacute;n</th>
                    <th>N&uacute;mero de identificaci&oacute;n</th>
                    <th>Profesi&oacute;n</th>
                    <th>Es cliente LAFISE</th>
                    <th>Posee n&oacute;mina LAFISE</th>
                    <th>Tiene negocio propio</th>
                    <th>Es asalariado</th>
                    <th>Promedio de ingresos mensuales</th>
                    <th>Soporte de negocio propio</th>
                    <th>Soporte de ingresos</th>
                    <th>Sucursal Cercana</th>
                    <th>Nombre de referencia 1</th>
                    <th>Apellido de referencia 1</th>
                    <th>Tel&eacute;fono de referencia 1</th>
                    <th>Nombre de referencia 2</th>
                    <th>Apellido de referencia 2</th>
                    <th>Tel&eacute;fono de referencia 2</th>
                    <th>Comentario Inicial</th>
                    <th>Estado Historico Inicial</th>
                    <th>Comentario</th>
                    <th>Estado Historico</th>
                    <th>Tipo contacto</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in listaExportar">
                    <td align="left">{{item.NumeroSolicitud}}</td>
                    <td align="left">{{item.NombreCompleto}} </td>
                    <td align="left">{{item.EstadoSolicitud}} </td>
                    <td align="left">{{item.FechaCreacion}} </td>
                    <td align="left">{{item.FechaActualizacion}} </td>
                    <td align="left">{{item.NombrePais}} </td>
                    <td align="left">{{item.Telefono}} </td>
                    <td align="left">{{item.Email}} </td>
                    <td align="left">{{item.Sexo}} </td>
                    <td align="left">{{item.Nacionalidad}} </td>
                    <td align="left">{{item.CiudadResidencia}} </td>
                    <td align="left">{{item.TipoIdentificacion}} </td>
                    <td align="left">{{item.NumeroIdentificacion}} </td>
                    <td align="left">{{item.Profesion}} </td>
                    <td align="left">{{item.EsCliente}} </td>
                    <td align="left">{{item.PoseeNomina}} </td>
                    <td align="left">{{item.NegocioPropio}} </td>
                    <td align="left">{{item.Asalariado}} </td>
                    <td align="left">{{item.PromedioIngresoMensualNombre}} </td>
                    <td align="left">{{item.SoporteNegocioPropio}} </td>
                    <td align="left">{{item.SoporteIngresos}} </td>
                    <td align="left">{{item.SucursalCercana}} </td>
                    <td align="left">{{item.NombreReferencia1}} </td>
                    <td align="left">{{item.ApellidosReferencia1}} </td>
                    <td align="left">{{item.TelefonoReferencia1}} </td>
                    <td align="left">{{item.NombreReferencia2}} </td>
                    <td align="left">{{item.ApellidosReferencia2}} </td>
                    <td align="left">{{item.TelefonoReferencia2}} </td>
                    <td align="left">{{item.ComentarioInicial}} </td>
                    <td align="left">{{item.EstadoInicial}} </td>
                    <td align="left">{{item.Comentario}} </td>
                    <td align="left">{{item.EstadoHistorico}} </td>
                    <td align="left">{{item.TipoContacto}} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Grid Gestor Seguro de Vida Accidente-->
    <div id="exportable8" ng-hide="true">
        <table width="80%">
            <thead>
                <tr>
                    <th>Numero Solicitud</th>
                    <th>Nombre Completo</th>
                    <th>Estado Solicitud</th>
                    <th>Fecha Creaci&oacute;n</th>
                    <th>Fecha Actualizaci&oacute;n</th>
                    <th>Pa&iacute;s</th>
                    <th>Tel&eacute;fono</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Nacionalidad</th>
                    <th>Ciudad de residencia</th>
                    <th>Tipo de identificaci&oacute;n</th>
                    <th>N&uacute;mero de identificaci&oacute;n</th>
                    <th>Profesi&oacute;n</th>
                    <th>Es cliente LAFISE</th>
                    <th>Promedio de ingresos mensuales</th>
                    <th>Es Zurdo</th>
                    <th>Estatura</th>
                    <th>Peso</th>
                    <th>Actividad Economica</th>
                    <th>Comentario Inicial</th>
                    <th>Estado Historico Inicial</th>
                    <th>Comentario</th>
                    <th>Estado Historico</th>
                    <th>Tipo contacto</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in listaExportar">
                    <td align="left">{{item.NumeroSolicitud}}</td>
                    <td align="left">{{item.NombreCompleto}} </td>
                    <td align="left">{{item.EstadoSolicitud}} </td>
                    <td align="left">{{item.FechaCreacion}} </td>
                    <td align="left">{{item.FechaActualizacion}} </td>
                    <td align="left">{{item.NombrePais}} </td>
                    <td align="left">{{item.Telefono}} </td>
                    <td align="left">{{item.Email}} </td>
                    <td align="left">{{item.Sexo}} </td>
                    <td align="left">{{item.Nacionalidad}} </td>
                    <td align="left">{{item.CiudadResidencia}} </td>
                    <td align="left">{{item.TipoIdentificacion}} </td>
                    <td align="left">{{item.NumeroIdentificacion}} </td>
                    <td align="left">{{item.Profesion}} </td>
                    <td align="left">{{item.EsCliente}} </td>
                    <td align="left">{{item.PromedioIngresoMensualNombre}} </td>
                    <td align="left">{{item.EsZurdo}} </td>
                    <td align="left">{{item.Estatura}} </td>
                    <td align="left">{{item.Peso}} </td>
                    <td align="left">{{item.ActividadEconomica}} </td>
                    <td align="left">{{item.ComentarioInicial}} </td>
                    <td align="left">{{item.EstadoInicial}} </td>
                    <td align="left">{{item.Comentario}} </td>
                    <td align="left">{{item.EstadoHistorico}} </td>
                    <td align="left">{{item.TipoContacto}} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Grid Gestor Seguro de Vehicular-->
    <div id="exportable9" ng-hide="true">
        <table width="80%">
            <thead>
                <tr>
                    <th>Numero Solicitud</th>
                    <th>Nombre Completo</th>
                    <th>Estado Solicitud</th>
                    <th>Fecha Creaci&oacute;n</th>
                    <th>Fecha Actualizaci&oacute;n</th>
                    <th>Pa&iacute;s</th>
                    <th>Tel&eacute;fono</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Nacionalidad</th>
                    <th>Ciudad de residencia</th>
                    <th>Tipo de identificaci&oacute;n</th>
                    <th>N&uacute;mero de identificaci&oacute;n</th>
                    <th>Profesi&oacute;n</th>
                    <th>Es cliente LAFISE</th>
                    <th>Posee n&oacute;mina LAFISE</th>
                    <th>Tiene negocio propio</th>
                    <th>Es asalariado</th>
                    <th>Promedio de ingresos mensuales</th>
                    <th>Soporte de negocio propio</th>
                    <th>Soporte de ingresos</th>
                    <th>Valor del bien</th>
                    <th>Modelo</th>
                    <th>Tipo Veh&iacute;culo</th>
                    <th>Marca de auto</th>
                    <th>Soporte Circulaci&iacute;n o Matricula</th>
                    <th>Comentario Inicial</th>
                    <th>Estado Historico Inicial</th>
                    <th>Comentario</th>
                    <th>Estado Historico</th>
                    <th>Tipo contacto</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in listaExportar">
                    <td align="left">{{item.NumeroSolicitud}}</td>
                    <td align="left">{{item.NombreCompleto}} </td>
                    <td align="left">{{item.EstadoSolicitud}} </td>
                    <td align="left">{{item.FechaCreacion}} </td>
                    <td align="left">{{item.FechaActualizacion}} </td>
                    <td align="left">{{item.NombrePais}} </td>
                    <td align="left">{{item.Telefono}} </td>
                    <td align="left">{{item.Email}} </td>
                    <td align="left">{{item.Sexo}} </td>
                    <td align="left">{{item.Nacionalidad}} </td>
                    <td align="left">{{item.CiudadResidencia}} </td>
                    <td align="left">{{item.TipoIdentificacion}} </td>
                    <td align="left">{{item.NumeroIdentificacion}} </td>
                    <td align="left">{{item.Profesion}} </td>
                    <td align="left">{{item.EsCliente}} </td>
                    <td align="left">{{item.PoseeNomina}} </td>
                    <td align="left">{{item.NegocioPropio}} </td>
                    <td align="left">{{item.Asalariado}} </td>
                    <td align="left">{{item.PromedioIngresoMensualNombre}} </td>
                    <td align="left">{{item.SoporteNegocioPropio}} </td>
                    <td align="left">{{item.SoporteIngresos}} </td>
                    <td align="left">{{item.ValorBien}} </td>
                    <td align="left">{{item.Modelo}} </td>
                    <td align="left">{{item.TipoVehiculo}} </td>
                    <td align="left">{{item.Marca}} </td>
                    <td align="left">{{item.SoporteCirculacionMatricula}} </td>
                    <td align="left">{{item.ComentarioInicial}} </td>
                    <td align="left">{{item.EstadoInicial}} </td>
                    <td align="left">{{item.Comentario}} </td>
                    <td align="left">{{item.EstadoHistorico}} </td>
                    <td align="left">{{item.TipoContacto}} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Grid Gestor Reclamos-->
    <div id="exportable10" ng-hide="true">
        <table width="80%">
            <thead>
                <tr>
                    <th>Numero Solicitud</th>
                    <th>Nombre Completo</th>
                    <th>Estado Solicitud</th>
                    <th>Fecha Creaci&oacute;n</th>
                    <th>Fecha Actualizaci&oacute;n</th>
                    <th>Pa&iacute;s</th>
                    <th>Tel&eacute;fono</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Nacionalidad</th>
                    <th>Ciudad de residencia</th>
                    <th>Tipo de identificaci&oacute;n</th>
                    <th>N&uacute;mero de identificaci&oacute;n</th>
                    <th>Profesi&oacute;n</th>
                    <th>N&uacute;mero de p&oacute;liza</th>
                    <th>Fecha</th>
                    <th>Siniestro Pa&iacute;s</th>
                    <th>Siniestro Ciudad</th>
                    <th>Detalle</th>
                    <th>Comentario Inicial</th>
                    <th>Estado Historico Inicial</th>
                    <th>Comentario</th>
                    <th>Estado Historico</th>
                    <th>Tipo contacto</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in listaExportar">
                    <td align="left">{{item.NumeroSolicitud}}</td>
                    <td align="left">{{item.NombreCompleto}} </td>
                    <td align="left">{{item.EstadoSolicitud}} </td>
                    <td align="left">{{item.FechaCreacion}} </td>
                    <td align="left">{{item.FechaActualizacion}} </td>
                    <td align="left">{{item.NombrePais}} </td>
                    <td align="left">{{item.Telefono}} </td>
                    <td align="left">{{item.Email}} </td>
                    <td align="left">{{item.Sexo}} </td>
                    <td align="left">{{item.Nacionalidad}} </td>
                    <td align="left">{{item.CiudadResidencia}} </td>
                    <td align="left">{{item.TipoIdentificacion}} </td>
                    <td align="left">{{item.NumeroIdentificacion}} </td>
                    <td align="left">{{item.Profesion}} </td>
                    <td align="left">{{item.NumeroPoliza}} </td>
                    <td align="left">{{item.Fecha}} </td>
                    <td align="left">{{item.SiniestroPais}} </td>
                    <td align="left">{{item.SiniestroCiudad}} </td>
                    <td align="left">{{item.Detalle}} </td>
                    <td align="left">{{item.ComentarioInicial}} </td>
                    <td align="left">{{item.EstadoInicial}} </td>
                    <td align="left">{{item.Comentario}} </td>
                    <td align="left">{{item.EstadoHistorico}} </td>
                    <td align="left">{{item.TipoContacto}} </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>
