﻿/* Nebula package common IE fix css */
.suggestion-modalShadow {
    background: transparent url(../../../images/overlay_bg_ie.png) repeat;
}

.toast-item{
	background: transparent url(../../../images/overlay_bg_ie.png) repeat;
}

.tag-menu {
	background: transparent url(../../../images/overlay_bg_ie.png) repeat;
}

.placeHolder {
    color: #aaa;
}

ul.list-row-tags > li:after {
    content: "  , " !important;
}

/* vote panel width fix */
.ModSocialEventsC .idea-vote-options {
    width: 170px;
}

.ModIdeasC .idea-vote-options {
    width: 300px;
}

div.dnnTagsInput > div {
    border: none !important;
}
div.dnnTagsInput > div > input {
   border: none !important;
    padding: 4px !important;
    margin-bottom: 4px !important;
}

.social-share-transforming {
    display: none;
}

.userProperties ul.userMenu a span {
    background-color: #999;
}