﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Register.ascx.cs" Inherits="DotNetNuke.Modules.Admin.Users.Register" %>
<%@ Register TagPrefix="dnn" Assembly="DotNetNuke.Web" Namespace="DotNetNuke.Web.UI.WebControls" %>
<%@ Register TagPrefix="dnn" TagName="Label" Src="~/controls/LabelControl.ascx" %>
<%@ Register TagPrefix="dnn" Assembly="DotNetNuke" Namespace="DotNetNuke.UI.WebControls" %>

<div class="dnnForm dnnRegistrationForm" id="RegistrationForm" runat="server">
    <div class="dnnFormItem">
        <div class="dnnFormMessage dnnFormInfo">
            <asp:Label ID="userHelpLabel" runat="server" ViewStateMode="Disabled" />
        </div>
    </div>
    <br />
    <div class="dnnFormItem dnnClear">
        <div id="panel" class="dnnFormItem dnnFormShort">
            <div class="dnnLabel" style="position: relative;">
                <label><span id="dnn_ctr_Register_userForm_c410dd239b_Label" class=" dnnFormRequired">Pa&iacute;s:</span></label>

            </div>
        </div>
        <asp:DropDownList ID="ddlPais" runat="server"></asp:DropDownList>
        <asp:RequiredFieldValidator ID="rfvPais" runat="server" ErrorMessage="Campo requerido" ForeColor="White" ControlToValidate="ddlPais" Display="Dynamic" CssClass="dnnFormMessage dnnFormError" InitialValue="-1"></asp:RequiredFieldValidator>
    </div>

    <dnn:dnnformeditor id="userForm" runat="Server" formmode="Short" encryptids="True" />
    <div class="dnnSocialRegistration">
        <div id="mainContainer">
            <ul class="buttonList">
                <asp:PlaceHolder ID="socialLoginControls" runat="server" />
            </ul>
        </div>
    </div>
</div>
<div id="captchaRow" runat="server" visible="false" class="dnnFormItem dnnCaptcha">
    <dnn:label id="captchaLabel" controlname="ctlCaptcha" runat="server" />
    <dnn:captchacontrol id="ctlCaptcha" captchawidth="130" captchaheight="40" errorstyle-cssclass="dnnFormMessage dnnFormError dnnCaptcha" runat="server" />
</div>
<input runat="server" id="gotcha" type="text" name="gotcha" style="display: none;" autocomplete="off" />
<ul id="actionsRow" runat="server" class="dnnActions dnnClear">
    <li>
        <asp:LinkButton ID="registerButton" runat="server" CssClass="dnnPrimaryAction" resourcekey="cmdRegister" /></li>
    <li>
        <asp:HyperLink ID="cancelLink" runat="server" CssClass="dnnSecondaryAction" resourcekey="cmdCancel" CausesValidation="false" /></li>
</ul>
</div>
<script type="text/javascript">
    $(function () {
        $('.dnnFormItem .dnnLabel').each(function () {
            var next = $(this).next();
            if (next.hasClass('dnnFormRequired'))
                $(this).find('span').addClass('dnnFormRequired');
        });

        // SOCIAL-2069: fix for WP8
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            $(window.parent).resize(function () {
                $('.dnnFormItem .dnnFormMessage.dnnFormError').hide();
            });
        }
    });
</script>
