﻿.journalrow div.journalitem a.accept-challenge-button {
    background-image: url("images/Icon_Challenge_CTA.png");
    background-repeat: no-repeat;
    display: block;
    margin: 6px 8px 15px 0;
    height: 46px;
    width: 184px;
    float: left;
}

    .journalrow div.journalitem a.accept-challenge-button span {
        display: inline-block;
        margin-top: 15px;
        font-weight: bold;
        vertical-align: top;
    }


        .journalrow div.journalitem a.accept-challenge-button span.challenge-points {
            margin: 22px 10px 0 0;
            color: #fff;
            width: 48px;
            text-align: center;
        }

.journalrow div.journalitem div.challenge-completed-area {
    display: block;
    float: left;
    margin: 12px 0 15px 0;
}
    .journalrow div.journalitem div.challenge-completed-area > span,
    .journalrow div.journalitem div.challenge-completed-area > a {
        display: inline-block;
        vertical-align: top;
        margin: 6px 2px 0 0;
    }

    .journalrow div.journalitem div.challenge-completed-area > a.challenge-completed-avatar {
        display: inline-block;
        border: transparent;
        text-decoration: none;
        height: 30px;
        width: 30px;
        overflow: hidden;
        margin: 0 2px 0 0;
    }

        .journalrow div.journalitem div.challenge-completed-area > a.challenge-completed-avatar > em {
            display: table-cell; /* vertical centering hack */
            width: 30px;
            height: 30px; /* same as thumbnail dimensions */
            vertical-align: middle; /* vertical centering hack */
        }

            .journalrow div.journalitem div.challenge-completed-area > a.challenge-completed-avatar > em > img {
                display: inline-block;
                border: none;
                width: 100%;
            }

.journalrow div.journalitem div.challenge-journal-detailview {
    margin: 15px 15px 15px 0;
    clear: both;
}

    .journalrow div.journalitem div.challenge-journal-detailview span.challenge-journal-title {
        display: block;
        color: #ff8015;
        font-weight: bold;
    }

    .journalrow div.journalitem div.challenge-journal-detailview .challenge-message-box {
        margin: 20px 0 0 0;
        padding: 15px;
        background: #f1f1f1;
    }

        .journalrow div.journalitem div.challenge-journal-detailview .challenge-message-box:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #f1f1f1;
            margin: -30px 0 15px 20px;
        }

        .journalrow div.journalitem div.challenge-journal-detailview .challenge-message-box > p {
            margin: 0;
            padding: 4px;
            line-height: 1.6em;
            word-wrap: break-word;
        }

         .journalrow div.journalitem div.challenge-journal-detailview .challenge-message-box > a {
             word-wrap: break-word;
         }

    .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box {
        margin-top: 10px;
        padding: 12px;
        background-color: #ddd;
    }

        .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box > span {
            font-weight: bold;
            display: block;
            margin-bottom: 8px;
        }

        .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box > a.dnnPrimaryAction {
            display: block;
            float: right;
            margin: 3px 0 0 0;
        }

            .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box > a.dnnPrimaryAction.disabled,
            .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box > a.dnnPrimaryAction.disabled:hover,
            .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box > a.dnnPrimaryAction.disabled:active {
                background: #bbb;
                border: 1px solid #aaa;
                color: #fff;
                font-weight: normal;
                border-radius: 0;
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                text-shadow: none;
                cursor: default;
            }

        .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list {
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            float: left;
        }

            .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li {
                display: inline-block;
                cursor: pointer;
                height: 37px;
                width: 38px;
                margin: 0 12px 6px 0;
                cursor: pointer;
                position: relative;
            }

                .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li > span {
                    display: inline-block;
                    border: transparent;
                    text-decoration: none;
                    height: 37px;
                    width: 38px;
                    overflow: hidden;
                }

                    .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li > span > em {
                        display: table-cell;
                        width: 38px;
                        height: 37px;
                        vertical-align: middle;
                    }

                        .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li > span > em > img {
                            display: inline-block;
                            border: none;
                            width: 100%;
                        }

                .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li > div.token {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    top: -8px;
                    right: -8px;
                    z-index: 1;
                }

                    .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li.socialnetwork-Facebook > div.token {
                        background-image: url("images/Icon_Fb_Small.png");
                    }

                    .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li.socialnetwork-LinkedIn > div.token {
                        background-image: url("images/Icon_Li_Small.png");
                    }

                    .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li.socialnetwork-Twitter > div.token {
                        background-image: url("images/Icon_Tw_Small.png");
                    }

                    .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li.socialnetwork-Google > div.token {
                        background-image: url("images/Icon_Go_Small.png");
                    }

                .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li > div.tag-menu {
                    z-index: 1000;
                    position: absolute;
                    white-space: nowrap;
                    padding: 10px 15px 10px 15px;
                    border-radius: 3px;
                    background: rgba(0,0,0,0.75);
                    font-size: 11px;
                    color: #ddd;
                    text-align: left;
                    bottom: 45px;
                    width: 120px;
                    left: -50px;
                    display: none;
                }

                    .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li > div.tag-menu > p {
                        margin-bottom: 0;
                        display: block;
                        width: 100%;
                        white-space: pre-wrap;
                    }

                    .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li > div.tag-menu:after {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                        opacity: 0.75;
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        border-top: 7px solid #000;
                        left: 60px;
                        bottom: -7px;
                    }

                .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li.socialnetwork-Twitter {
                    background-image: url("images/Icon_Tw_Medium.png");
                }

                .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li.socialnetwork-LinkedIn {
                    background-image: url("images/Icon_Li_Medium.png");
                }

                .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li.socialnetwork-Facebook {
                    background-image: url("images/Icon_Fb_Medium.png");
                }

                .journalrow div.journalitem div.challenge-journal-detailview .challenge-socialnetwork-box ul.challenge-socialnetwork-list > li.socialnetwork-Google {
                    background-image: url("images/Icon_Go_Medium.png");
                }
