﻿<div>
    <div>
        <label data-bind="html: configurations[0].localizedName"></label>
        <input data-bind="value: configurations[0].value" class="senseField appId" type="text"/>
    </div>
    <div>
        <label data-bind="html: configurations[1].localizedName"></label>
        <input data-bind="value: configurations[1].value" class="senseField appSecret" type="text"/>
    </div>
    <div class="full-row" data-bind="visible: connected">
        <label data-bind="html: resx.RootFolder"></label>
        <select id="BoxFoldersDropDown" name="BoxFoldersDropDown"
            data-bind="value: parentFolderId, options: foldersData, optionsText: 'path', optionsValue: 'id'" >
        </select>
    </div>
    <div class="clear"></div>
</div>