﻿<ul id="editBarContentPersonalizationCommonTabOptions" class="menuEditBar">
    <li id="viewPersonalizedPagesButton" class="ViewPersonalizedPages left-button notInPreviewMode notForPageEditors notForModuleEditors" data-bind="css: {'personalizedPagesDisabled': disabled}, click: disabled ? null: togglePersonalizedTabsPanel">
        <div class="NumberOfTabsBox" data-bind="text: getNumberOfPersonalizedPages" />
        <div class="submenuEditBar viewModesMenu" data-bind="text: disabled ? resx.ViewPersonalizedTabsButtonDisabled : resx.ViewPersonalizedTabsButton" />
    </li>
</ul>
