﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PruebaProcedencia.ascx.cs" Inherits="PruebaProcedencia" %>
<%@ Register TagPrefix="dnn" Namespace="DotNetNuke.Web.Client.ClientResourceManagement"
    Assembly="DotNetNuke.Web.Client" %>
<div class="lafise-group">
    <a href="http://local.lafise.com/Formularios/Prestamo-Personal?procedencia=facebook">Ir a Prestamos</a>
</div>
