<%@ Control language="C#" Inherits="DotNetNuke.Professional.RelatedContent.Dispatch" AutoEventWireup="false"  Codebehind="Dispatch.ascx.cs" %>
<div class="dnnClear">
	<asp:PlaceHolder ID="phUserControl" runat="server" />
</div>