﻿.related-content-container {}

.related-content-container ul.token-input-list-facebook {
  width: 250px;
}

.related-content-container .related-content-types > table {
  width: 350px;
  border: none;
  border-spacing: 6px;
}

.related-content-container .related-content-types label.related-content-types-label {
  white-space: nowrap;
  padding-top: 8px;
  padding-right: 6px;
}

.related-content-container .related-content-types > table tr {
  vertical-align: middle;
}

.related-content-item {
  width: 100%;
  max-height: 450px;
}

.related-content-item span p {
    margin: 0;
}

.related-content-container.loading {
  opacity: 1.0;
  background-image: url('/images/dnnanim.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

tr.related-content-item td.loading {
  background-image: none;
}

.related-search-text {
  width: 200px;
}

.related-content-types-label {
  font-weight: bold;
}

.related-filter-label {
  font-weight: bold;
}

.related-content-types {
  display: block;
  float: right;
}

.related-content-types-input {
  width: 250px;
}

.related-content-type {
  white-space: nowrap;
}

.related-content-author {
  white-space: nowrap;
}

.related-content-creation-date {
  white-space: nowrap;
}

.related-content-title {
  width: 150px;
  font-weight: bold;
}

tr.related-item-selected {
  background-color: rgba(128, 128, 128, 0.44);
}

.related-table-header {
  white-space: nowrap;
}

.related-content-edit {
  display: none;
  max-height: 600px;
}

.related-content-edit-container {
  float: right;
  margin: 10px 0 0 0;
}

.related-content-edit-container > a {
  cursor: pointer;
  font-weight: bold;
}


.relatedcontent-detail-container {
    padding: 20px;
    background-color: #ffffff;
}

    .relatedcontent-detail-container .Title6 {
        font-size: 15px;
        font-weight: normal;
        color: #666;
    }

.relatedcontent-detail-container ul.dnnRelated {
    list-style-type: none;   
    margin: 15px 0 0 5px;
}

    .relatedcontent-detail-container ul.dnnRelated > li {
        list-style-type: none;
        margin-bottom: 5px;
    }

    .relatedcontent-detail-container ul.dnnRelated > li a {
        font-weight: bold;
    }

#tagContainer ul.tagCollections {
    list-style-type: none;
    margin: 15px 0 10px 0;
}

#tagContainer ul.tagCollections li {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

#tagContainer ul.tagCollections li a {
    display: block;
    margin-right: 35px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tagContainer ul.tagCollections li span {
    display: block;
    float: right;
    padding: 2px 4px 2px 4px;
    background-color: #ccc;
    font-size: 10px;
    border-radius: 6px;
    min-width: 20px;
    text-align: center;
    font-weight: bold;
}