.dnnForm.dnnFormSharePoint {width: 100%}
.dnnForm.dnnFormSharePoint .dnnFormItem {width:100% }
.dnnForm.dnnFormSharePoint a.dnnSecondaryAction:link{ font-weight:bold;}
.dnnForm.dnnFormSharePoint .sslEnabled { background-color: #090; color:White; padding:3px 8px; }
.dnnForm.dnnFormSharePoint .dnnFormItem select {width: auto}

.dnnFormItemTree { margin-left: 36%;}

#dnnSharePointTabs { width: 100%; margin-top: 20px;}
.dnnGridSharePoint { border-collapse: collapse; table-layout:fixed; }
.dnnGridSharePoint td,
.dnnGridSharePoint th { padding: 10px; text-align: left; }
.dnnFormSharePointInfo .dnnFormItem .dnnTooltip {width:40%!important;}
.dnnSharePointRowDetails{ display:none; border: 1px solid #CCC; background: #F1F1F1; }
.dnnSharePointRowDetails label{ margin-top:0!important; width:20%;}
.dnnSharePointRowDetails .dnnGrid { border: 1px solid #CCC; }
.dnnSharePointRowDetails .dnnGrid td,
.dnnSharePointRowDetails .dnnGrid th{ padding: 4px 8px; }