.moduleContainer * {
  margin: 0;
  padding: 0;
}

/* module container */

.moduleContainer {
  width: 100%;
}

/* Module Title Container */

.moduleTitleContainer {
  background-color: #fff;
  padding: 18px;
}

.moduleTitleContainer > .activities-votes-indicator span {
  display: block;
}

.activities-votes-indicator span.activities-numberOfVotes {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.activities-title-container {
  float: left;
  padding-top: 4px;
}

.activities-title-container > p.activities-title-status {
  float: left;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2em;
  margin-right: 5px;
}

.activities-title-container > h3.activities-title {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
}

.activities-title-container > p.activities-title-returnPrev {
  font-size: 12px;
  margin-top: 7px;
}

ul.activities-actions {
  list-style-type: none;
  margin-top: 20px;
}

  ul.activities-actions > li {
    border-right: 1px solid #dfdfdf;
    display: block;
    float: left;
    line-height: 1em;
    padding: 0 10px 0 10px;
  }

    ul.activities-actions > li > a {
      padding-left: 25px;
      padding-bottom: 10px;
    }

    ul.activities-actions > li:first-child {
    }

    ul.activities-actions > li:last-child {
      border-right: none;
    }

ul.activities-social-actions {
  float: right;
  list-style-type: none;
  margin-top: 8px;
}

  ul.activities-social-actions > li {
    display: block;
    float: left;
    height: 20px;
    margin-right: 5px;
    width: 20px;
  }

    ul.activities-social-actions > li a {
      display: block;
      height: 20px;
      width: 20px;
    }

.moduleThreadContainer > .activities-info-panel {
  border-bottom: 1px solid #dfdfdf;
  padding: 25px 20px 20px 20px;
}

.moduleThreadContainer > .activities-comments-panel {
  padding: 15px 20px 10px 20px;
}

.activities-comments-panel > div.activities-avatar {
  margin-right: 20px;
}

.activities-comments-panel > a.activities-comment-button {
  margin: 2px 20px 0 0;
}

.activities-comments-panel > span {
  margin: 10px 15px 0 0;
}

ul.activities-pager-ul {
  list-style-type: none;
  margin: 10px 0 0 0;
}

  ul.activities-pager-ul > li {
    display: block;
    float: left;
    margin-right: 3px;
  }

    ul.activities-pager-ul > li > span:after,
    ul.activities-pager-ul > li > a:after {
      content: ",";
    }

    ul.activities-pager-ul > li:last-child > a:after {
      content: "";
    }

div.activities-pager-rightside {
  margin: 10px 0 0 0;
  width: 150px;
}

  div.activities-pager-rightside > span {
    float: left;
    margin-right: 15px;
  }

  div.activities-pager-rightside > a {
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.4), inset 0 1px 0 0 rgba(255, 255, 255, 1);
    background: #fff; /* Old browsers */
    background: -moz-linear-gradient(top, #fff 0%, #eee6e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee6e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#eee6e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#eee6e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#eee6e5 100%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#eee6e5 100%); /* W3C */
    border: 1px solid #ddd;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    color: #555;
    display: block;
    float: left;
    height: 25px;
    margin-top: -6px;
    text-shadow: 0px 1px 0px #ffffff;
    width: 25px;
  }

    div.activities-pager-rightside > a.activities-pager-prev {
      -webkit-border-bottom-left-radius: 3px;
      -webkit-border-top-left-radius: 3px;
      background-image: url("images/left.png");
      background-position: center;
      background-repeat: no-repeat;
      border-bottom-left-radius: 3px;
      border-right: none;
      border-top-left-radius: 3px;
    }

    div.activities-pager-rightside > a.activities-pager-next {
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      background-image: url("images/right.png");
      background-position: center;
      background-repeat: no-repeat;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }

      div.activities-pager-rightside > a.activities-pager-next.disabled {
        opacity: 0.65;
      }

    div.activities-pager-rightside > a.activities-pager-prev.disabled {
      opacity: 0.65;
    }

.activities-info-panel > a.activities-vote-button {
  float: left;
  margin-right: 20px;
}

  .activities-info-panel > a.activities-vote-button.disabled {
    opacity: 0.5;
  }

.activities-info-panel > .activities-vote-options {
  position: absolute;
  border: 1px solid #bbb;
  background-color: #eee;
  padding: 15px;
  display: none;
}

.activities-vote-options > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.activities-info-panel > ul {
  color: #bbb;
  list-style-type: none;
  margin-top: 12px;
}

  .activities-info-panel > ul > li {
    border-right: 1px solid #dfdfdf;
    display: block;
    float: left;
    line-height: 1em;
    padding: 0 8px 0 8px;
  }

    .activities-info-panel > ul > li:last-child {
      border-right: none;
    }

.activities-info-panel a.activities-like-button {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("images/LikeSelect.png");
  vertical-align: top;
  margin: -2px 4px 0 0;
}

.activities-main-container {
  background-color: #fff;
  padding: 25px 20px 20px 20px;
}

  .activities-main-container.activities-response {
    border-bottom: 1px solid #dfdfdf;
    padding-top: 5px;
  }

  .activities-main-container.activities-comment {
    padding: 0 20px 0 20px;
  }

    .activities-main-container.activities-comment:first-child {
      padding-top: 5px;
    }

    .activities-main-container.activities-comment:last-child {
      padding-bottom: 20px;
    }

  .activities-main-container > h3 {
    font-family: arial;
    font-size: 20px;
    font-weight: normal;
  }

.activities-avatar {
  display: block;
  float: left;
  padding: 1px;
  margin-right: 20px;
  background-color: #bbb;
}

  .activities-avatar img {
    height: 40px;
    width: 40px;
  }

.activities-content > span {
}

span.activities-comments-author {
  color: #000;
  font-weight: bold;
  margin-right: 15px;
}

span.activities-comments-date {
  color: #bbb;
  display: block;
}

.activities-content > p,
.activities-response-content > p {
  margin-top: 20px;
}

ul.activities-comments-actions {
  list-style-type: none;
  margin-top: 20px;
}

  ul.activities-comments-actions > li {
    border-right: 1px solid #dfdfdf;
    display: block;
    float: left;
    line-height: 1em;
    padding: 0 10px 0 10px;
  }

    ul.activities-comments-actions > li a {
      display: block;
      height: 20px;
      width: 20px;
    }

    ul.activities-comments-actions > li:first-child {
      padding-left: 0;
    }

    ul.activities-comments-actions > li:last-child {
      border-right: none;
    }

p.activities-response-more {
  text-align: center;
}

  p.activities-response-more > a {
    font-weight: bold;
  }


/* activities list view
----------------------------------*/

.loading-container.loading {
  background-image: url('/Images/dnnanim.gif') !IMPORTANT;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.75;
}

.activities-reply {
  background: transparent url('Images/reply.png') no-repeat;
  background-position-y: -7px;
}

.activities-report {
  background: transparent url('Images/report.png') no-repeat;
  background-position-y: -7px;
}

.activities-like {
  background: transparent url('Images/Likes.png') no-repeat;
  background-position-y: -2px;
}

.activities-like-liked {
  background: transparent url('Images/LikeSelect.png') no-repeat;
}

/* tag menu */
.dnnActivities .tag-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    white-space: nowrap;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    background: rgba(0,0,0,0.75);
    font-size: 11px;
    color: #ddd;
    text-align: left;
     bottom: 20px;
    left: -12px;
}

    .dnnActivities .tag-menu > p {
        margin-bottom: 0;
        display: block;
    }

    .dnnActivities .tag-menu:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        opacity: 0.75;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #000;
        left: 10px;
        bottom: -7px;
    }

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */

.loading-container .loading {
  background-image: url('/Images/dnnanim.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

.activities-comments-panel textarea.message {
  height: 120px;
  width: 500px;
}

div.messageArea {
  margin-top: 16px;
}

#dnnActivities .dnnTableFilter .filter-content {
    margin-right: 50px;
}
#dnnActivities .dnnTableFilter .filter-content, #dnnActivities .dnnTableFilter .filter-module {
    min-width: 200px;
    width: 200px;
}

#dnnActivities .dnnTableFilter label.filter {
    font-weight: bold;
    margin-right: 20px;
    margin-top: 12px;
    vertical-align: top;
}

.fixed {
    table-layout: fixed;
}

.dnnTableDisplay {
    width: 100%;
}

.activities-col-action-name {
    width: 60%;
}

.activities-col-module {
    width: 40%
}

.activities-col-points {
    width: 150px;
}

#dnnActivities .dnnTableFilter {
    margin-bottom: 0;
    padding: 0;
}

#dnnActivities .dnnTableDisplay th a {
    background: url('Images/grid-sprite.png') no-repeat 100% 10px;
}

#dnnActivities .dnnTableDisplay th a.asc {
    background-position: 100% -28px;
}

#dnnActivities .dnnTableDisplay th a.desc {
    background-position: 100% -8px;
}

#dnnActivities .dnnTableDisplay td em {
    font-style: normal;
    font-weight: bold;
}

#dnnActivities .dnnFilterSet {
    padding: 15px 15px 15px 10px;
}

#dnnActivities .dnnResults {
    margin-top: 0;
}

#dnnActivities .dnnPagination li {
    margin: 0;
}

#dnnActivities .dnnTableDisplay tfoot tr td {
    padding: 8px 9px;
}

.number-cell {
    text-align: right;
}

#dnnActivities .dnnFilterSet {
    position: relative;
}

#dnnActivities .dnnFilterSet ul li {
    margin: 6px 3px;
}

/* Badges */
.badgeContainer {   
    padding: 12px 0 12px 0;
    width: 184px;
    margin-right: 18px;
    margin-bottom: 18px;
    border: 1px solid #CCCCCC;
	border-radius:4px;
}

ul.dnnBadgeList {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    width: 720px;
}

ul.dnnBadgeList li {
    list-style-type: none;
    margin: 6px 8px;
}

ul.dnnBadgeList li strong {
    color: #666;
    display: block;
    margin-right: 12px;
}

ul.dnnBadgeList li strong em {
    font-style: normal;
    display: block;
}

ul.dnnBadgeList li strong span {
    font-weight: normal;
}

ul.dnnBadgeList li .badgeImage {
    padding: 0 10px 0 12px;
    width: 36px;
    height: 36px;
}

.badge-tooltip-content .badgeImage {
    width: 36px;
    height: 36px;
    margin: 2px 18px 2px 4px
}

.badge-tooltip-content strong {
    color: #666;
    margin: 0 0 8px 0;
}

.badge-tooltip-content strong em {
    font-style: normal;
    display: block;
}

.badge-tooltip-content strong span {
    font-weight: normal;
}

.badge-tooltip-content .how-to-earn {
    padding-right: 2px;
}
.badge-tooltip-content .completed-by {
    margin: 8px 0 0 0;
    border-top: 1px solid #ddd;
}

.badge-tooltip-content .completed-by label {
    margin: 20px 8px 0 0;
    white-space: nowrap;
    display: block;
}


.badge-tooltip-content .completed-by ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 240px;
    height: 50px;
    overflow: hidden;
}

.badge-tooltip-content .completed-by ul li {
    list-style-type: none;
    margin: 6px 1px;
    background-color: #DDDDDD;
    border: 3px solid #DDDDDD;
    display: block;
    height: 40px;
    width: 40px;
}

.badge-tooltip-content .completed-by ul li:first-child {
    margin-left: 0;
}

.badge-tooltip-content .completed-by ul li:last-child {
    margin-right: 0;
}

.badge-tooltip-content .completed-by ul li a {
    border: medium none transparent;
    display: inline-block;
    height: 38px;
    overflow: hidden;
    text-decoration: none;
    width: 40px;
}

.badge-tooltip-content .completed-by ul li a em {
    display: table-cell;
    height: 40px;
    vertical-align: middle;
    width: 40px;
}

.badge-tooltip-content .completed-by ul li img {
    border: medium none;
    display: inline-block;
    width: 100%;
}

.badge-tooltip-content .completed-by .not-yet-completed {
    line-height: 50px;
}

.badge-tooltip {
    position: absolute;
    z-index: 9;
    background: #fff;
    border: 1px solid #BBBBBB;
    -moz-box-shadow: 0 0 8px 8px rgba(197, 197, 197, 0.6);
    -webkit-box-shadow: 0 0 8px 8px rgba(197, 197, 197, 0.6);
    box-shadow: 0 0 8px 8px rgba(197, 197, 197, 0.6);
    padding: 5px;
    margin: 10px;
}

.badge-tooltip:before {
    background: none repeat scroll 0 0 transparent;
    border-top: 7px solid white;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    height: 0;
    margin-left: 30px;
    position: absolute;
    bottom: -7px;
    width: 0;
}

.badge-tooltip-content {
    min-width: 300px;
    padding: 8px 10px;
}

.loading-tooltip {
    background-image: url('/Images/dnnanim.gif');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.75;
}

.hidden {
    display: none;
}

.tooltip-close-button {
    background: url('images/hoverTipClose.png') no-repeat 0 0;
    display: block;
    float:right;
    width: 17px;
    height: 15px;
}

.view-more-badges-container {
    position: relative;
    width: 100%;
    margin: auto;
}

.view-more-badges-container a {
    width: 70px;
    margin: auto;
    margin-top: 24px;
}