﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="BooleanControl.ascx.cs" Inherits="DotNetNuke.Enterprise.SharePoint.SharePointViewer.Views.Controls.BooleanControl" %>
<asp:CheckBox Id="chBoolean" runat="server" />