﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <!-- Formulario Base Gestores -->
    <div class="lafise-container-datos-personales">
        <!-- Etiqueta datos personales -->
        <div class="lafise-group">
            <div class="lafise-container-etiqueta">
                <output class="lafise-label">Datos personales</output>
            </div>
        </div>
        <!-- Nombres  -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Nombres</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="nombre"
                       class="lafise-text"
                       data-ng-disabled="true"
                       data-ng-model="newDatosPersonales.Nombre" />
            </div>
        </div>
        <!-- Apellidos-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Apellidos</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="apellidos"
                       class="lafise-text"
                       data-ng-disabled="true"
                       data-ng-model="newDatosPersonales.Apellidos" />
            </div>
        </div>
        <!-- Teléfono -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Tel&eacute;fono</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="telefono"
                       class="lafise-text"
                       data-ng-disabled="true"
                       data-ng-model="newDatosPersonales.Telefono" />
            </div>
        </div>
        <!-- Email -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Email</output>
            </div>
            <div class="lafise-container-text">
                <input type="email"
                       name="correo"
                       id="correo"
                       class="lafise-text"
                       data-ng-disabled="true"
                       data-ng-model="newDatosPersonales.Email" />
            </div>
        </div>
        <!-- Genero -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Sexo</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="genero"
                       id="genero"
                       class="lafise-text"
                       data-ng-disabled="true"
                       data-ng-model="newDatosPersonales.Genero" />
            </div>
        </div>
        <!--Nacionalidad-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Nacionalidad</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="nacionalidad"
                       id="nacionalidad"
                       class="lafise-text"
                       data-ng-disabled="true"
                       data-ng-model="newDatosPersonales.Nacionalidad" />
            </div>
        </div>
        <!--Ciudad de residencia-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Ciudad de residencia</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="ciudadResidencia"
                       id="ciudadResidencia"
                       class="lafise-text"
                       data-ng-disabled="true"
                       data-ng-model="newDatosPersonales.CiudadResidencia" />
            </div>
        </div>
        <!-- Seleccionar TipoIdentificacion -->
        <div class="lafise-group">
            <div>
                <div class="lafise-container-label">
                    <output class="lafise-label">Tipo identificaci&oacute;n</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="numeroIdentificacion"
                           id="numeroIdentificacion"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="newDatosPersonales.TipoIdentificacion" />
                </div>
            </div>
        </div>
        <!--Número de identificación-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">N&uacute;mero de identificaci&oacute;n</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="numeroIdentificacion"
                       id="numeroIdentificacion"
                       class="lafise-text"
                       data-ng-disabled="true"
                       data-ng-model="newDatosPersonales.NumeroIdentificacion" />
            </div>
        </div>
        <!--Profesión-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Profesi&oacute;n</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="profesion"
                       id="profesion"
                       class="lafise-text"
                       data-ng-disabled="true"
                       data-ng-model="newDatosPersonales.Profesion" />
            </div>
        </div>
    </div>
    <!-- Sección Datos Financieros -->
    <div class="lafise-container-datos-financieros-laborales" data-ng-hide="essegurovida || esreclamos ">
        <!-- Etiqueta Datos financieros y laborales -->
        <div class="lafise-group">
            <div class="lafise-container-etiqueta">
                <output class="lafise-label">Datos financieros y laborales</output>
            </div>
        </div>
        <!--Es cliente LAFISE-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Es cliente LAFISE</output>
            </div>
            <div class="lafise-container-check">
                <input type="checkbox"
                       name="EsCliente"
                       data-ng-disabled="true"
                       data-ng-model="newDatosFinancieros.EsCliente" />
            </div>
        </div>
        <!--Posee nómina LAFISE-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Posee n&oacute;mina LAFISE</output>
            </div>
            <div class="lafise-container-check">
                <input type="checkbox"
                       name="poseeNomina"
                       data-ng-disabled="true"
                       data-ng-model="newDatosFinancieros.PoseeNomina" />
            </div>
        </div>
        <!--Tiene negocio propio-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Tiene negocio propio</output>
            </div>
            <div class="lafise-container-check">
                <input type="checkbox"
                       name="negociopropio"
                       data-ng-disabled="true"
                       data-ng-model="newDatosFinancieros.NegocioPropio" />
            </div>
        </div>
        <!--Es asalariado-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Es asalariado</output>
            </div>
            <div class="lafise-container-check">
                <input type="checkbox"
                       name="asalariado"
                       data-ng-disabled="true"
                       data-ng-model="newDatosFinancieros.Asalariado" />
            </div>
        </div>
        <!--Promedio de ingresos mensuales-->
        <div class="lafise-container-posee-nomina" data-ng-hide="newDatosFinancieros.PoseeNomina">
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Promedio de ingresos mensuales (moneda): </output>
                </div>
                <div class="lafise-container-select">
                    <input type="text"
                           name="promIngresos"
                           data-ng-disabled="true"
                           data-ng-model="newDatosFinancieros.PromedioIngresoMensual" />
                </div>
            </div>
        </div>
        <!-- Adjuntos Soporte negocio propio -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Adjuntar soporte de negocio propio</output>
            </div>
            <div class="lafise-container-button">
                <input type="button"
                       name="soporteNegocioPropio"
                       value="Ver m&aacute;s"
                       data-ng-click="MostrarAdjuntos(true,false,false)" />
            </div>
            <div class="lafise-lista-adjuntos-negocio-propio" data-ng-show="showFilesNP">
                <div data-ng-repeat="item in Soportes | filter:{ Tipo: 2,EsCodeudor:false }">
                    <a target="_self" class="lafise-link" data-ng-href="{{item.Ruta}}" download="{{item.Nombre}}">{{item.Nombre}}</a>

                </div>
            </div>
        </div>
        <!-- Adjuntos Soporte de ingresos -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Adjuntar soporte de ingresos</output>
            </div>
            <div class="lafise-container-button">
                <input type="button"
                       name="soporteIngreso"
                       value="Ver m&aacute;s"
                       ng-click="MostrarAdjuntos(false,true,false)" />
            </div>
            <div class="lafise-lista-adjuntos-negocio-propio" ng-show="showFilesI">
                <div ng-repeat="item in Soportes | filter:{ Tipo: 1,EsCodeudor:false }">
                    <a target="_self" class="lafise-link" data-ng-href="{{item.Ruta}}" download="{{item.Nombre}}">{{item.Nombre}}</a>
                </div>
            </div>
        </div>
        <!-- Sucursal -->
        <div class="lafise-group" data-ng-show="esaperturacuenta">
            <div class="lafise-container-label">
                <output class="lafise-label">Sucursal</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="sucursal"
                       id="sucursal"
                       class="lafise-text"
                       data-ng-disabled="true"
                       data-ng-model="newDatosFinancieros.Sucursal" />
            </div>
        </div>
        <div class="lafise-container-Solicitud-Tarjetas" data-ng-show="estarjetacredito || estarjetadebito">
            <!-- Estado Cuenta -->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Env&iacute;o estado de cuenta</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="EstadoCuenta"
                           data-ng-disabled="true"
                           data-ng-model="newDatosFinancieros.EstadoCuenta" />
                </div>
            </div>
            <!-- Direccion -->
            <div class="lafise-group" data-ng-show="newDatosFinancieros.EstadoCuenta==='Físico' ">
                <div class="lafise-container-label">
                    <output class="lafise-label">Direcci&oacute;n</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="Direccion"
                           data-ng-disabled="true"
                           data-ng-model="newDatosFinancieros.Direccion" />
                </div>
            </div>
        </div>
    </div>
    <!-- Sección Datos Financieros Seguro de Vida -->
    <div class="lafise-container-datos-financieros-laborales-seguro-vida" data-ng-show="essegurovida">
        <!-- Etiqueta Datos financieros y laborales -->
        <div class="lafise-group">
            <div class="lafise-container-etiqueta">
                <output class="lafise-label">Datos financieros y laborales</output>
            </div>
        </div>
        <!--Es cliente LAFISE-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Es cliente LAFISE</output>
            </div>
            <div class="lafise-container-check">
                <input type="checkbox"
                       name="EsCliente"
                       data-ng-disabled="true"
                       data-ng-model="newDatosFinancieros.EsCliente" />
            </div>
        </div>
        <!--Actividad Economica-->
        <div class="lafise-group">
            <div class="lafise-container-label" data-ng-show="newDatosFinancieros.ActividadEconomica.length != 0">
                <output class="lafise-label">Actividad econ&oacute;mica</output>
            </div>
            <div class="lafise-container-CheckBox">
                <div data-ng-repeat="tipo in newDatosFinancieros.ActividadEconomica">
                    <input type="checkbox"
                           name="actividadeconomica"
                           checklist-model="newDatosFinancieros.ActividadEconomica"
                           data-ng-disabled="true"
                           checklist-value="tipo"
                           checked>
                    {{tipo.TipoActividad}}
                    <div class="lafise-container-text" data-ng-show="tipo.TipoActividad === 'Otro'">
                        <input type="text"
                               name="otraActividad"
                               id="otraActividad{{$index}}"
                               class="lafise-text"
                               data-ng-disabled="true"
                               data-ng-model="tipo.OtraActividad" />
                    </div>
                </div>
            </div>
        </div>
        <!--Promedio de ingresos mensuales-->
        <div class="lafise-container-posee-nomina">
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Promedio de ingresos mensuales (moneda): </output>
                </div>
                <div class="lafise-container-select">
                    <input type="text"
                           name="promIngresos"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="newDatosFinancieros.PromedioIngresoMensual" />
                </div>
            </div>
        </div>
        <!--Es Zurdo o Derecho-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Es zurdo o derecho</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="esZurdo"
                       class="lafise-text"
                       data-ng-disabled="true"
                       data-ng-model="newDatosFinancieros.EsZurdoNombre" />
            </div>
        </div>
        <!--Estatura -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Estatura</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="estatura"
                       class="lafise-text"
                       data-ng-disabled="true"
                       data-ng-model="newDatosFinancieros.Estatura" />
            </div>
        </div>
        <!--Peso -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Peso</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="peso"
                       class="lafise-text"
                       data-ng-disabled="true"
                       data-ng-model="newDatosFinancieros.Peso" />
            </div>
        </div>
    </div>
    <!-- Sección plan financiamiento -->
    <div class="lafise-container-plan-financiamiento" data-ng-hide="estarjetacredito || estarjetadebito || eseducativo  || esaperturacuenta || essegurovida || essegurovehicular || esreclamos">
        <!-- Etiqueta Plan de Financiamiento -->
        <div class="lafise-group">
            <output class="lafise-title">Plan de financiamiento</output>
        </div>
        <!-- Valor del bien -->
        <div class="lafise-group" data-ng-hide="espersonal">
            <div class="lafise-container-label">
                <output class="lafise-label">Valor del bien (moneda)</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="valorBien"
                       data-ng-disabled="true"
                       data-ng-model="newPlanFinanciamiento.ValorBien" />
            </div>
            <input type="hidden" id="valorbienformato" />
        </div>
        <!-- Monto a financiar-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Monto a financiar (moneda)</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="MontoFinanciar"
                       data-ng-disabled="true"
                       data-ng-model="newPlanFinanciamiento.MontoFinanciar" />
            </div>
            <input type="hidden" id="montofinanciarformato" />
        </div>
        <!-- Prima o anticipo-->
        <div class="lafise-group" data-ng-hide="espersonal">
            <div class="lafise-container-label">
                <output class="lafise-label">Prima o anticipo</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="primaAnticipo"
                       data-ng-disabled="true"
                       data-ng-model="newPlanFinanciamiento.PrimaAnticipo" />
            </div>
            <input type="hidden" id="primaformato" />
        </div>

        <!-- Sección prestamo personal-->
        <div class="lafise-container-prestamo-personal" data-ng-show="espersonal">
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Garantia</output>
                </div>
                <div class="lafise-container-check">
                    <input type="text"
                           name="garantia"
                           data-ng-disabled="true"
                           data-ng-model="newPlanFinanciamiento.Garantia" />
                </div>
            </div>
            <!-- Etiqueta datos del codeudor -->
            <div class="lafise-container-datos-personales-codeudor" data-ng-show="newDatosPersonales.EsCodeudor && newPlanFinanciamiento.Garantia === 'Fiduciaria'">
                <!-- Etiqueta Datos Codeudor -->
                <div class="lafise-group">
                    <output class="lafise-title">Datos del codeudor</output>
                </div>
                <!-- Nombres  -->
                <div class="lafise-group">
                    <div class="lafise-container-label">
                        <output class="lafise-label">Nombres</output>
                    </div>
                    <div class="lafise-container-text">
                        <input type="text"
                               name="nombre"
                               class="lafise-text"
                               data-ng-disabled="true"
                               data-ng-model="newDatosPersonalesCodeudor.Nombre" />
                    </div>
                </div>
                <!-- Apellidos-->
                <div class="lafise-group">
                    <div class="lafise-container-label">
                        <output class="lafise-label">Apellidos</output>
                    </div>
                    <div class="lafise-container-text">
                        <input type="text"
                               name="apellidos"
                               class="lafise-text"
                               data-ng-disabled="true"
                               data-ng-model="newDatosPersonalesCodeudor.Apellidos" />
                    </div>
                </div>
                <!-- Teléfono -->
                <div class="lafise-group">
                    <div class="lafise-container-label">
                        <output class="lafise-label">Tel&eacute;fono</output>
                    </div>
                    <div class="lafise-container-text">
                        <input type="text"
                               name="telefono"
                               class="lafise-text"
                               data-ng-disabled="true"
                               data-ng-model="newDatosPersonalesCodeudor.Telefono" />
                    </div>
                </div>
                <!-- Email -->
                <div class="lafise-group">
                    <div class="lafise-container-label">
                        <output class="lafise-label">Email</output>
                    </div>
                    <div class="lafise-container-text">
                        <input type="email"
                               name="correo"
                               id="correo"
                               class="lafise-text"
                               data-ng-disabled="true"
                               data-ng-model="newDatosPersonalesCodeudor.Email" />
                    </div>
                </div>
                <!-- Genero -->
                <div class="lafise-group">
                    <div class="lafise-container-label">
                        <output class="lafise-label">Sexo</output>
                    </div>
                    <div class="lafise-container-text">
                        <input type="text"
                               name="genero"
                               id="genero"
                               class="lafise-text"
                               data-ng-disabled="true"
                               data-ng-model="newDatosPersonalesCodeudor.Genero" />
                    </div>
                </div>
                <!--Nacionalidad-->
                <div class="lafise-group">
                    <div class="lafise-container-label">
                        <output class="lafise-label">Nacionalidad</output>
                    </div>
                    <div class="lafise-container-text">
                        <input type="text"
                               name="nacionalidad"
                               id="nacionalidad"
                               class="lafise-text"
                               data-ng-disabled="true"
                               data-ng-model="newDatosPersonalesCodeudor.Nacionalidad" />
                    </div>
                </div>
                <!--Ciudad de residencia-->
                <div class="lafise-group">
                    <div class="lafise-container-label">
                        <output class="lafise-label">Ciudad de residencia</output>
                    </div>
                    <div class="lafise-container-text">
                        <input type="text"
                               name="ciudadResidencia"
                               id="ciudadResidencia"
                               class="lafise-text"
                               data-ng-disabled="true"
                               data-ng-model="newDatosPersonalesCodeudor.CiudadResidencia" />
                    </div>
                </div>
                <!-- Seleccionar TipoIdentificacion -->
                <div class="lafise-group">
                    <div>
                        <div class="lafise-container-label">
                            <output class="lafise-label">Tipo identificaci&oacute;n</output>
                        </div>
                        <div class="lafise-container-text">
                            <input type="text"
                                   name="numeroIdentificacion"
                                   id="numeroIdentificacion"
                                   class="lafise-text"
                                   data-ng-disabled="true"
                                   data-ng-model="newDatosPersonalesCodeudor.TipoIdentificacion" />
                        </div>
                    </div>
                </div>
                <!--Número de identificación-->
                <div class="lafise-group">
                    <div class="lafise-container-label">
                        <output class="lafise-label">N&uacute;mero de identificaci&oacute;n</output>
                    </div>
                    <div class="lafise-container-text">
                        <input type="text"
                               name="numeroIdentificacion"
                               id="numeroIdentificacion"
                               class="lafise-text"
                               data-ng-disabled="true"
                               data-ng-model="newDatosPersonalesCodeudor.NumeroIdentificacion" />
                    </div>
                </div>
                <!--Profesión-->
                <div class="lafise-group">
                    <div class="lafise-container-label">
                        <output class="lafise-label">Profesi&oacute;n</output>
                    </div>
                    <div class="lafise-container-text">
                        <input type="text"
                               name="profesion"
                               id="profesion"
                               class="lafise-text"
                               data-ng-disabled="true"
                               data-ng-model="newDatosPersonalesCodeudor.Profesion" />
                    </div>
                </div>
                <!-- Adjuntos Soporte negocio propio -->
                <div class="lafise-group">
                    <div class="lafise-container-label">
                        <output class="lafise-label">Adjuntar soporte de negocio propio</output>
                    </div>
                    <div class="lafise-container-button">
                        <input type="button"
                               name="soporteNegocioPropio"
                               value="Ver m&aacute;s"
                               data-ng-click="MostrarAdjuntosCodeudor(true,false)" />
                    </div>
                    <div class="lafise-lista-adjuntos-negocio-propio" data-ng-show="showFilesNPCodeudor">
                        <div data-ng-repeat="item in Soportes | filter:{ Tipo: 2,EsCodeudor:true }">
                            <a target="_self" class="lafise-link" data-ng-href="{{item.Ruta}}" download="{{item.Nombre}}">{{item.Nombre}}</a>

                        </div>
                    </div>
                </div>
                <!-- Adjuntos Soporte de ingresos -->
                <div class="lafise-group">
                    <div class="lafise-container-label">
                        <output class="lafise-label">Adjuntar soporte de ingresos</output>
                    </div>
                    <div class="lafise-container-button">
                        <input type="button"
                               name="soporteIngreso"
                               value="Ver m&aacute;s"
                               ng-click="MostrarAdjuntosCodeudor(false,true)" />
                    </div>
                    <div class="lafise-lista-adjuntos-negocio-propio" ng-show="showFilesICodeudor">
                        <div ng-repeat="item in Soportes | filter:{ Tipo: 1,EsCodeudor:true }">
                            <a target="_self" class="lafise-link" data-ng-href="{{item.Ruta}}" download="{{item.Nombre}}">{{item.Nombre}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Plazo-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Plazo (meses)</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="plazo"
                       data-ng-disabled="true"
                       data-ng-model="newPlanFinanciamiento.Plazo" />
            </div>
        </div>


        <!-- Seccion de Marca Auto-->
        <div class="lafise-container-marca-auto" data-ng-show="esmarcaauto">
            <!-- Auto Usado-->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Auto usado</output>
                </div>
                <div class="lafise-container-check">
                    <input type="checkbox"
                           name="autousado"
                           data-ng-disabled="true"
                           data-ng-model="newPlanFinanciamiento.AutoUsado" />
                </div>
            </div>
            <!-- Categorias-->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Categor&iacute;a</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           id="lafise-categoria-marca"
                           data-ng-disabled="true"
                           data-ng-model="newPlanFinanciamiento.Categoria"
                           class="lafise-text" />
                </div>
            </div>
            <!-- Marca Auto-->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Marca de auto</output>
                </div>
                <div class="lafise-container-text" data-ng-hide="newPlanFinanciamiento.OpcionOtro">
                    <input type="text"
                           id="lafise-marca"
                           data-ng-disabled="true"
                           data-ng-model="newPlanFinanciamiento.MarcaAuto"
                           class="lafise-text" />
                </div>
                <div class="lafise-container-text" data-ng-show="newPlanFinanciamiento.OpcionOtro">
                    <input type="text"
                           id="lafise-marca-otro"
                           data-ng-disabled="true"
                           data-ng-model="newPlanFinanciamiento.OtroMarcaAuto"
                           class="lafise-text" />
                </div>
            </div>
            <!-- Modelo-->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Modelo</output>
                </div>
                <div class="lafise-container-text" data-ng-hide="newPlanFinanciamiento.OpcionOtro">
                    <input type="text"
                           name="modelo"
                           id="lafise-modelo"
                           data-ng-disabled="true"
                           data-ng-model="newPlanFinanciamiento.Modelo"
                           class="lafise-text" />
                </div>
                <div class="lafise-container-text" data-ng-show="newPlanFinanciamiento.OpcionOtro">
                    <input type="text"
                           id="lafise-modelo-otro"
                           data-ng-disabled="true"
                           data-ng-model="newPlanFinanciamiento.OtroModelo"
                           class="lafise-text" />
                </div>
            </div>
            <!-- Casa Comercial-->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Casa comercial</output>
                </div>
                <div class="lafise-container-select" data-ng-hide="newPlanFinanciamiento.OpcionOtro">
                    <input type="text"
                           name="casacomercial"
                           id="lafise-casacomercial"
                           data-ng-disabled="true"
                           data-ng-model="newPlanFinanciamiento.CasaComercial"
                           class="lafise-text" />
                </div>
                <div class="lafise-container-text" data-ng-show="newPlanFinanciamiento.OpcionOtro">
                    <input type="text"
                           id="lafise-casacomercial-otro"
                           data-ng-disabled="true"
                           data-ng-model="newPlanFinanciamiento.OtroCasaComercial"
                           class="lafise-text" />
                </div>
            </div>
        </div>

        <!-- Seccion de Prestamo Hipotecario-->
        <div class="lafise-container-hipotecario" data-ng-show="eshipotecario">
            <!-- Construción Propia-->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Construcci&oacute;n propia</output>
                </div>
                <div class="lafise-container-check">
                    <input type="checkbox"
                           name="autousado"
                           data-ng-disabled="true"
                           data-ng-model="newPlanFinanciamiento.ConstruccionPropia" />
                </div>
            </div>
            <!-- Categorias-->
            <div class="lafise-group" data-ng-show="!newPlanFinanciamiento.ConstruccionPropia">
                <div class="lafise-container-label">
                    <output class="lafise-label">Categor&iacute;a</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           id="lafise-categoria-hipotecaria"
                           data-ng-disabled="true"
                           data-ng-model="newPlanFinanciamiento.Categoria"
                           class="lafise-text" />
                </div>
            </div>
            <!-- Tipo Propiedad-->
            <div class="lafise-group" data-ng-show="!newPlanFinanciamiento.ConstruccionPropia">
                <div class="lafise-container-label">
                    <output class="lafise-label">Tipo de propiedad</output>
                </div>
                <div class="lafise-container-select">
                    <input type="text"
                           name="tipopropiedad"
                           id="lafise-tipo-propiedad"
                           data-ng-disabled="true"
                           data-ng-model="newPlanFinanciamiento.TipoPropiedad"
                           class="lafise-text" />
                </div>
            </div>
            <!-- Urbanizadora-->
            <div class="lafise-group" data-ng-show="newPlanFinanciamiento.TipoPropiedad === 'Urbanizadora'">
                <div class="lafise-container-label">
                    <output class="lafise-label">Urbanizadora</output>
                </div>
                <div class="lafise-container-select">
                    <input type="text"
                           name="Urbanizadora"
                           id="lafise-Urbanizadora"
                           data-ng-disabled="true"
                           data-ng-model="newPlanFinanciamiento.Urbanizadora"
                           class="lafise-text" />
                </div>
            </div>

        </div>
    </div>
    <!-- Seccion de Datos Auto Seguro Vehicular -->
    <div class="lafise-container-Datos-Auto" data-ng-show="essegurovehicular">
        <!-- Etiqueta Datos del auto-->
        <div class="lafise-group">
            <output class="lafise-title">Datos del Bien</output>
        </div>
        <!-- Tipo de Bien-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Tipo de bien</output>
            </div>
            <div class="lafise-container-select">
                <input type="text"
                       name="tipovehiculo"
                       id="lafise-tipo-bien"
                       data-ng-disabled="true"
                       data-ng-model="newDatosAuto.TipoBien"
                       class="lafise-text" />
            </div>
        </div>
        <!-- Valor del bien -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Valor del bien (moneda)</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="valorBien"
                       data-ng-disabled="true"
                       data-ng-model="newDatosAuto.ValorBien" />
            </div>
            <input type="hidden" id="valorbienformatoauto" />
        </div>
        <!-- Modelo-->
        <div class="lafise-group" data-ng-hide="newDatosAuto.Modelo == null">
            <div class="lafise-container-label">
                <output class="lafise-label">Modelo</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="modelo"
                       id="lafise-modelo"
                       data-ng-disabled="true"
                       data-ng-model="newDatosAuto.Modelo"
                       class="lafise-text" />
            </div>
        </div>
        <!-- Tipo de Vehiculo-->
        <div class="lafise-group" data-ng-hide="newDatosAuto.TipoVehiculo == null">
            <div class="lafise-container-label">
                <output class="lafise-label">Tipo de veh&iacute;culo</output>
            </div>
            <div class="lafise-container-select">
                <input type="text"
                       name="tipovehiculo"
                       id="lafise-tipo-vehiculo"
                       data-ng-disabled="true"
                       data-ng-model="newDatosAuto.TipoVehiculo"
                       class="lafise-text" />
            </div>
        </div>
        <!-- Marca Auto-->
        <div class="lafise-group" data-ng-hide="newDatosAuto.MarcaAuto == null">
            <div class="lafise-container-label">
                <output class="lafise-label">Marca de auto</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       id="lafise-marca"
                       data-ng-disabled="true"
                       data-ng-model="newDatosAuto.MarcaAuto"
                       class="lafise-text" />
            </div>
        </div>
        <!-- Adjuntos Circulacion o Matricula -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Adjuntar circulaci&oacute;n o matricula</output>
            </div>
            <div class="lafise-container-button">
                <input type="button"
                       name="soporteCirculacion"
                       value="Ver m&aacute;s"
                       ng-click="MostrarAdjuntos(false,false,true)" />
            </div>
            <div class="lafise-lista-adjuntos-circulacion-matricula" ng-show="showFilesCM">
                <div ng-repeat="item in Soportes | filter:{ Tipo: 3 }">
                    <a target="_self" class="lafise-link" data-ng-href="{{item.Ruta}}" download="{{item.Nombre}}">{{item.Nombre}}</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Seccion de Prestamo Educativo-->
    <div class="lafise-container-referencias-plan-financiamiento-educativo" data-ng-show="eseducativo">
        <!-- Etiqueta Plan de Financiamiento Educativo -->
        <div class="lafise-group">
            <output class="lafise-title">Plan de financiamiento</output>
        </div>
        <!-- Costo programa-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Costo del programa</output>
            </div>
            <div class="lafise-container-select">
                <input type="text"
                       name="costo"
                       id="lafise-costo"
                       data-ng-disabled="true"
                       data-ng-model="newPlanFinanciamiento.CostoPrograma"
                       class="lafise-text" />
            </div>
        </div>
        <!-- Garantia educativo-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Garantia</output>
            </div>
            <div class="lafise-container-check">
                <input type="text"
                       name="garantia"
                       data-ng-disabled="true"
                       data-ng-model="newPlanFinanciamiento.Garantia" />
            </div>
        </div>
        <!-- Etiqueta datos del codeudor -->
        <div class="lafise-container-datos-personales-codeudor" data-ng-show="newDatosPersonales.EsCodeudor && newPlanFinanciamiento.Garantia === 'Fiduciaria'">
            <!-- Etiqueta Datos Codeudor -->
            <div class="lafise-group">
                <output class="lafise-title">Datos del codeudor</output>
            </div>
            <!-- Nombres  -->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Nombres</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="nombre"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="newDatosPersonalesCodeudor.Nombre" />
                </div>
            </div>
            <!-- Apellidos-->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Apellidos</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="apellidos"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="newDatosPersonalesCodeudor.Apellidos" />
                </div>
            </div>
            <!-- Teléfono -->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Tel&eacute;fono</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="telefono"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="newDatosPersonalesCodeudor.Telefono" />
                </div>
            </div>
            <!-- Email -->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Email</output>
                </div>
                <div class="lafise-container-text">
                    <input type="email"
                           name="correo"
                           id="correo"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="newDatosPersonalesCodeudor.Email" />
                </div>
            </div>
            <!-- Genero -->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Sexo</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="genero"
                           id="genero"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="newDatosPersonalesCodeudor.Genero" />
                </div>
            </div>
            <!--Nacionalidad-->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Nacionalidad</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="nacionalidad"
                           id="nacionalidad"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="newDatosPersonalesCodeudor.Nacionalidad" />
                </div>
            </div>
            <!--Ciudad de residencia-->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Ciudad de residencia</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="ciudadResidencia"
                           id="ciudadResidencia"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="newDatosPersonalesCodeudor.CiudadResidencia" />
                </div>
            </div>
            <!-- Seleccionar TipoIdentificacion -->
            <div class="lafise-group">
                <div>
                    <div class="lafise-container-label">
                        <output class="lafise-label">Tipo identificaci&oacute;n</output>
                    </div>
                    <div class="lafise-container-text">
                        <input type="text"
                               name="numeroIdentificacion"
                               id="numeroIdentificacion"
                               class="lafise-text"
                               data-ng-disabled="true"
                               data-ng-model="newDatosPersonalesCodeudor.TipoIdentificacion" />
                    </div>
                </div>
            </div>
            <!--Número de identificación-->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">N&uacute;mero de identificaci&oacute;n</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="numeroIdentificacion"
                           id="numeroIdentificacion"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="newDatosPersonalesCodeudor.NumeroIdentificacion" />
                </div>
            </div>
            <!--Profesión-->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Profesi&oacute;n</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="profesion"
                           id="profesion"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="newDatosPersonalesCodeudor.Profesion" />
                </div>
            </div>
            <!-- Adjuntos Soporte negocio propio -->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Adjuntar soporte de negocio propio</output>
                </div>
                <div class="lafise-container-button">
                    <input type="button"
                           name="soporteNegocioPropio"
                           value="Ver m&aacute;s"
                           data-ng-click="MostrarAdjuntosCodeudor(true,false)" />
                </div>
                <div class="lafise-lista-adjuntos-negocio-propio" data-ng-show="showFilesNPCodeudor">
                    <div data-ng-repeat="item in Soportes | filter:{ Tipo: 2,EsCodeudor:true }">
                        <a target="_self" class="lafise-link" data-ng-href="{{item.Ruta}}" download="{{item.Nombre}}">{{item.Nombre}}</a>

                    </div>
                </div>
            </div>
            <!-- Adjuntos Soporte de ingresos -->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Adjuntar soporte de ingresos</output>
                </div>
                <div class="lafise-container-button">
                    <input type="button"
                           name="soporteIngreso"
                           value="Ver m&aacute;s"
                           ng-click="MostrarAdjuntosCodeudor(false,true)" />
                </div>
                <div class="lafise-lista-adjuntos-negocio-propio" ng-show="showFilesICodeudor">
                    <div ng-repeat="item in Soportes | filter:{ Tipo: 1,EsCodeudor:true }">
                        <a target="_self" class="lafise-link" data-ng-href="{{item.Ruta}}" download="{{item.Nombre}}">{{item.Nombre}}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Plazo-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Plazo (Meses)</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="plazo"
                       data-ng-disabled="true"
                       data-ng-model="newPlanFinanciamiento.Plazo" />
            </div>
        </div>
        <!-- Monto a financiar-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Monto a financiar (moneda)</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="MontoFinanciar"
                       data-ng-disabled="true"
                       data-ng-model="newPlanFinanciamiento.MontoFinanciar" />
            </div>
        </div>


    </div>
    <!-- Seccion de Referecias Personales-->
    <div class="lafise-container-referencias-personales" data-ng-show="(estarjetacredito || estarjetadebito || esaperturacuenta) && Referencias.length != 0">
        <div class="lafise-group">
            <output class="lafise-title">Referencias personales</output>
        </div>
        <div ng-repeat="item in Referencias">

            <!-- Referencia Titulos  -->
            <div class="lafise-group">
                <div class="lafise-container-etiqueta-subtitulo">
                    <output class="lafise-label">Referencia {{$index +1}}</output>
                </div>
            </div>
            <!-- Nombres  -->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Nombres</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="nombre"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="item.Nombre" />
                </div>
            </div>
            <!-- Apellidos-->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Apellidos</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="apellidos"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="item.Apellidos" />
                </div>
            </div>
            <!-- Teléfono -->
            <div class="lafise-group">
                <div class="lafise-container-label">
                    <output class="lafise-label">Tel&eacute;fono</output>
                </div>
                <div class="lafise-container-text">
                    <input type="text"
                           name="telefono"
                           class="lafise-text"
                           data-ng-disabled="true"
                           data-ng-model="item.Telefono" />
                </div>
            </div>
        </div>
    </div>

    <!-- Seccion de Reclamos-->
    <div class="lafise-container-reclamos" data-ng-show="esreclamos">
        <!-- Etiqueta Plan de Financiamiento Educativo -->
        <div class="lafise-group">
            <output class="lafise-title">Registro siniestro</output>
        </div>
        <!-- Numero de poliza-->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">N&uacute;mero de poliza</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="numeropoliza"
                       data-ng-disabled="true"
                       data-ng-model="newSiniestros.NumeroPoliza" />
            </div>
        </div>
        <!-- Fecha -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Fecha</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="fecha"
                       data-ng-disabled="true"
                       data-ng-model="newSiniestros.Fecha" />
            </div>
        </div>
        <!-- Pais -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Pais</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="pais"
                       data-ng-disabled="true"
                       data-ng-model="newSiniestros.SiniestroPais" />
            </div>
        </div>
        <!-- Ciudad -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Ciudad</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="ciudad"
                       data-ng-disabled="true"
                       data-ng-model="newSiniestros.SiniestroCiudad" />
            </div>
        </div>
        <!-- Detalle -->
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Detalles del siniestro</output>
            </div>
            <div class="lafise-container-text">
                <textarea name="detalle"
                          data-ng-disabled="true"
                          data-ng-model="newSiniestros.Detalle" />
            </div>
        </div>
    </div>
    <!-- Seccion de Estados Bandeja Proceso-->
    <div class="lafise-container-Estados-Proceso" data-ng-show="Obj.bandejaProceso || Obj.bandejaTerminados">
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Estado</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="estado"
                       data-ng-disabled="true"
                       data-ng-model="newHistoricoComentarioProceso.Estado" />
            </div>
            <div class="lafise-container-label">
                <output class="lafise-label">Comentario</output>
            </div>
            <div class="lafise-container-text">
                <textarea name="comentario"
                          data-ng-disabled="true"
                          data-ng-model="newHistoricoComentarioProceso.Comentario" />
            </div>
        </div>
    </div>
    <!-- Seccion de Estados Bandeja Teminados -->
    <div class="lafise-container-Estados-Terminado" data-ng-show="Obj.bandejaTerminados">
        <div class="lafise-group">
            <div class="lafise-container-label">
                <output class="lafise-label">Tipo de contacto</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="estado"
                       data-ng-disabled="true"
                       data-ng-model="newHistoricoComentarioTerminados.TipoContacto" />
            </div>
            <div class="lafise-container-label">
                <output class="lafise-label">Estado solicitud</output>
            </div>
            <div class="lafise-container-text">
                <input type="text"
                       name="estadoterminados"
                       data-ng-disabled="true"
                       data-ng-model="newHistoricoComentarioTerminados.Estado" />
            </div>
            <div class="lafise-container-label">
                <output class="lafise-label">Comentario</output>
            </div>
            <div class="lafise-container-text">
                <textarea name="comentarioterminados"
                          data-ng-disabled="true"
                          data-ng-model="newHistoricoComentarioTerminados.Comentario" />
            </div>
        </div>
    </div>
</body>
</html>


