﻿.idea-votes-indicator {
    float: left;
    margin-right: 20px;
    padding: 12px 10px 5px 8px;
}

.idea-votes-indicator span {
    display: block;
}

.idea-votes-indicator span.idea-numberOfVotes {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

ul.comment-actions > li {
    border-left: 1px solid #dfdfdf;
    display: block;
    float: left;
    line-height: 1em;
    padding: 0 10px 0 10px;
}

ul.comment-actions > li > a {
    padding-left: 25px;
    padding-bottom: 10px;
    cursor: pointer;
    display: inline-block;
}

.info-panel .idea-vote-button {
    margin: 0 0 15px 0;
}

.info-panel > a.idea-vote-button.disabled {
    opacity: 0.5;
}

.vote-button > a.idea-vote-button {
    padding: 10px 0 10px 0;
}


.list-tbl-container .idea-vote-options:before {
    position: absolute;
    content: '';
    top: -7px;
    width: 0;
    height: 0;
    margin-left: 80px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    background: transparent;
}

.idea-vote-options:before {
    position: absolute;
    content: '';
    top: -7px;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    background: transparent;
}

.idea-vote-options.voting {
    background-image: url('Images/horizontal-loading.gif');
    background-position: 95% 80%;
    background-repeat: no-repeat;
    background-origin: padding-box;
    opacity: 1.0;
}

.vote-loading {
    background-image: url('Images/horizontal-loading.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: padding-box;
    opacity: 1.0;
}

.idea-vote-options a.dnnTertiaryAction {
    margin-bottom: 0;
}

.idea-vote-options .remaining {
    margin-top: 6px;
    clear: both;
    display: block;
    padding: 0 6px 6px 0;
}

    .idea-vote-options .remaining .value {
        color: #FC8528;
        font-weight: bold;
        font-size: 13pt;
    }

.idea-comment-container > h3 {
    font-family: arial;
    font-size: 20px;
    font-weight: normal;
    padding: 8px 0 0 20px;
    margin: 0 0 20px 0;
}

.idea-content > p,
.idea-response-content > p {
    margin-top: 20px;
    color: #606060;
}

.idea-response > div {
    margin: 20px 0;
}

span.idea-status {
    display: block;
    float: left;
    margin: 3px 5px 0 0;
    width: 12px;
    height: 12px;
    border-radius: 7px;
}

    /* status color association */
    span.idea-status.status-all {
        display: none;
    }

    span.idea-status.status-reviewed {
        background-color: #5c2553;
    }

    span.idea-status.status-submitted {
        background-color: #ebb757;
    }

    span.idea-status.status-accepted {
        background-color: #ffa34d;
    }

    span.idea-status.status-scheduled {
        background-color: #fa692f;
    }

    span.idea-status.status-declined {
        background-color: #cf4d46;
    }

    span.idea-status.status-delivered {
        background-color: #02dec8;
    }

    span.idea-status.status-underreview {
        background-color: #3f7f00;
    }


table.list-tbl tbody td {
    padding: 15px;
}

table.list-tbl tbody td.idea-list-vote-panel {
    padding-top: 25px;
    width: 150px;
    vertical-align: top;
    position: relative;
}

.idea-list-vote-panel div.vote-count {
    font-family: calibri, tahoma, sans-serif;
    float: left;
    font-size: 135%;
    font-weight: bold;
    text-align: center;
    color: rgb(125, 125, 125);
    margin-right: 6px;
}

.idea-list-vote-panel div.vote-label {
    font-family: ubuntu, tahoma, calibri;
    color: rgb(192, 192, 192);
    font-size: 75%;
    font-weight: normal;
    text-align: center;
}

.idea-list-vote-panel a.vote-button {
    float: right;
    font-size: 125%;
}

.idea-list-vote-panel ul.status {
    margin-left: 0;
}

    .idea-list-vote-panel ul.status > li {
        list-style-type: none;
        display: inline;
    }

.idea-list-vote-panel .idea-status-label {
    color: #666;
    font-size: 8pt;
    font-weight: bold;
    font-family: tahoma;
    padding-left: 3px;
    padding-right: 20px;
}

.detail-main-container .idea-content {
    padding: 20px;
    margin: 0 0 0 62px;
    border-left: 1px solid #dfdfdf;
}

.idea-detail-vote-button-container {
    margin: 0 10px;
}

.moduleContainer .moduleThreadContainer .info-panel > ul {
    margin: 10px 0;
}

#ideaResponseFields {
    padding-top: 32px;
    padding-bottom: 16px;
}

/* vote summary */
.vote-summary-container {
    padding: 20px;
    margin-bottom: 15px;
}

.vote-summary-label {
    white-space: nowrap;
}

.vote-summary-container > .vote-summary {
    float: left;
    width: 60px;
}

.vote-summary-container > #my-votes {
    margin-left: 70px;
    border-left: 1px solid #ccc;
    padding-left: 15px;
}

.vote-summary > .vote-votesRemaining-number {
    display: block;
    font-size: 45px;
    line-height: 1em;
    font-weight: bold;
    color: #fe9e47;
    width: 60px;
    text-align: center;
    margin-bottom: 5px;
}

.vote-summary > .vote-label {
    display: block;
    color: #999;
    text-align: center;
    width: 60px;
    line-height: 1.1em;
}

#my-votes > a {
    display: block;
    margin-top: 8px;
}

    #my-votes > a:first-child {
        margin-top: 0;
        font-weight: bold;
        font-size: 14px;
    }

.response-container {
    overflow: auto;
    max-height: 400px;
    margin: 20px 0;
}

.response-container .idea-content {
    padding: 0 20px;
    margin: 0 0 0 62px;
    border-left: 1px solid #dfdfdf;
}

.idea-reponse > div {
    margin: 10px 0;
}

.ideas-vote-help-dialog {
    padding: 20px;
    display: none;
}

.ideas-vote-help-text {
    font-family: calibri, verdana, helvetica, sans-serif;
    font-size: 11pt;
    padding: 20px 22px 10px 22px;
}

.ideas-vote-help-title {
    color: #4d4d4d;
    font-size: 14pt;
}

/* Idea supporter popup */
span.idea-total-supporters {
    display: block;
    padding: 8px 12px 8px 12px;
    border: 1px solid #ddd;
    margin: 0 10px -10px 0;
    float: left;
}

span.idea-total-supporters + span.ui-dialog-title {
    display: block;
    font-size: 14px;
    margin-left: 50px;
}

span.idea-total-supporters + span.ui-dialog-title + span.idea-avg-votes {
    display: block;
    font-size: 12px;
    color: #999;
    margin: 0 0 -10px 50px;
}

.redactor-box .redactor-editor {
    min-height: 260px;
}